{%- import '_modules/_macro.njk' as macro -%}
{%- set basePath = '/dist/' -%}

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    {% include '_modules/_meta.njk' %}

    <link rel="stylesheet" type="text/css" href="{{ basePath }}css/pages/{{ pageName }}.css">

    {% include '_modules/_ga.njk' %}
  </head>
  <body>
    <div class="contentsWrap">
      <form>
        {% include '_modules/_header.njk' %}

        {%- if pageName !== 'job_detail' and pageName !== 'hoge' %}
        {% include '_modules/_keyVisual.njk' %}
        {% endif -%}

        {% block content %}{% endblock %}

        {% include '_modules/_breadcrumb.njk' %}

        {% include '_modules/_footer.njk' %}
      </form>
    </div>

    <script src="{{ basePath }}js/common.js"></script>
    {%- if pageName !== 'forbeginner' and pageName !== 'forrecruiter' and pageName !== 'company' %}
    <script src="{{ basePath }}js/pages/{{ pageName }}.js"></script>
    {% endif -%}
  </body>
</html>
