<div class="breadcrumb">
  <div class="breadcrumbInner">
    <ul class="breadcrumbList js-breadcrumb-target" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbList__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item">
          <span itemprop="name">HOME</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      {%- for breadcrumb in breadcrumbs %}
      <li class="breadcrumbList__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {%- if loop.last -%}
        {%- if pageName === 'job_detail' -%}
        <span itemprop="name" class="js-async-breadcrumbText-target"></span>
        {%- else -%}
        <span itemprop="name">{{ breadcrumb.item }}</span>
        {%- endif -%}
        <meta itemprop="position" content="{{ loop.index + 1 }}" />
        {%- else -%}
        <a href="{{ basePath }}{{ breadcrumb.href }}" itemprop="item">
          <span itemprop="name">{{ breadcrumb.item }}</span>
        </a>
        <meta itemprop="position" content="{{ loop.index + 1 }}" />
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
