<footer class="globalFooter">
  <div class="globalFooter__inner">
    <div class="globalFooter__guideBlock">
      <p class="globalFooter__guideText pc-view">ご不明点などお問い合わせはこちらから</p>
      <p class="globalFooter__guideText sp-view">お問い合わせはこちらから</p>
      <a class="globalFooter__contactButton" href="{{ basePath }}contact.html"><span class="globalFooter__contactIcon">{{ macro.svg_code_mail() }}</span>お問い合わせフォーム</a>
      <div class="globalFooter__telBox">
        <a href="tel:03-9999-9999" class="globalFooter__telBoxInner">
          <p class="globalFooter__number"><span class="globalFooter__numberIcon">{{ macro.svg_code_phone() }}</span>03-9999-9999</p>
          <p class="globalFooter__reception">受付時間　平日10:00~18:00 （土日祝日を除く）</p>
        </a>
      </div>
    </div>
    <div class="globalFooter__naviBlock">
      <ul class="globalFooter__linkList">
        <li class="globalFooter__linkItem globalFooter__linkItem--bold m-frontLink"><a href="#">初めての方へ</a></li>
        <li class="globalFooter__linkItem globalFooter__linkItem--bold m-frontLink"><a href="#">医療機関採用担当者の方へ</a></li>
        <li class="globalFooter__linkItem"><a href="#">会社概要</a></li>
        <li class="globalFooter__linkItem"><a href="#">個人情報保護方針</a></li>
        <li class="globalFooter__linkItem"><a href="#">利用規約</a></li>
      </ul>
      <div class="globalFooter__copyright"><small>COPYRIGHT &copy; M.STAGE CO.,LTD.</small></div>
    </div>
  </div>
</footer>
