<footer class="globalFooter">
  <div class="globalFooterInner">
    <div class="globalFooterGuideBlock">
      <p class="globalFooterGuide__text pc-view">ご不明点などお問い合わせはこちらから</p>
      <p class="globalFooterGuide__text sp-view">お問い合わせはこちらから</p>
      <a class="globalFooterGuide__contactButton" href="{{ basePath }}contact.html" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_footer_contact','event_label': 'footer_contact'});"><span class="globalFooterGuide__contactIcon">{{ macro.svg_code_mail() }}</span>お問い合わせフォーム</a>
      <div class="globalFooterTelBox">
        <a href="tel:03-5437-2950" class="globalFooterTelBoxInner" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_footer_tel','event_label': 'footer_tel'});">
          <p class="globalFooterTelBox__number"><span class="globalFooterTelBox__numberIcon">{{ macro.svg_code_phone() }}</span>03-5437-2950</p>
          <p class="globalFooterTelBox__reception">受付時間　平日9:00～18:00 （土日祝日を除く）</p>
        </a>
      </div>
    </div>
    <div class="globalFooterNavBlock">
      <ul class="globalFooterNavList">
        <li class="globalFooterNavList__item globalFooterNavList__item--bold m-frontLink"><a href="#">初めての方へ</a></li>
        <li class="globalFooterNavList__item globalFooterNavList__item--bold m-frontLink"><a href="#">医療機関採用担当者の方へ</a></li>
        <li class="globalFooterNavList__item"><a href="#">会社概要</a></li>
        <li class="globalFooterNavList__item"><a href="#">個人情報保護方針</a></li>
        <li class="globalFooterNavList__item"><a href="#">利用規約</a></li>
      </ul>
      <div class="globalFooterNav__copyright"><small>COPYRIGHT &copy; M.STAGE CO.,LTD.</small></div>
    </div>
  </div>
</footer>
