<header class="globalHeader">
  <div class="globalHeaderInner">
    <div class="globalHeader__logo">
      <a href="{{ basePath }}">
        <img src="{{ basePath }}img/common/header_logo.png" alt="医療経営を一つ上のステージへ M.PLAT">
      </a>
    </div>
    <nav class="globalNav pc-view">
      {%- if pageName === 'mypage' -%}
      <ul class="globalNavList">
        <li class="globalNavItem">
          <a href="{{ basePath }}job/" class="globalNavItem__link">
            <span class="globalNavItem__icon globalNavItem__icon--list globalNavItem__icon--loggedin">{{ macro.svg_code_list() }}</span>
            <p class="globalNavItem__label">求人一覧</p>
          </a>
        </li>
        <li class="globalNavItem">
          <a href="{{ basePath }}mypage/" class="globalNavItem__link" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_header_regist','event_label': 'header_regist'});">
            <span class="globalNavItem__icon globalNavItem__icon--regist globalNavItem__icon--loggedin">{{ macro.svg_code_human() }}</span>
            <p class="globalNavItem__label">マイページ</p>
          </a>
        </li>
      </ul>
      {%- else -%}
      <ul class="globalNavList">
        <li class="globalNavItem">
          <a href="{{ basePath }}job/" class="globalNavItem__link">
            <span class="globalNavItem__icon globalNavItem__icon--list">{{ macro.svg_code_list() }}</span>
            <p class="globalNavItem__label">求人一覧</p>
          </a>
        </li>
        <li class="globalNavItem">
          <a href="{{ basePath }}login/" class="globalNavItem__link">
            <span class="globalNavItem__icon globalNavItem__icon--login">{{ macro.svg_code_login() }}</span>
            <p class="globalNavItem__label">ログイン</p>
          </a>
        </li>
        <li class="globalNavItem">
          <a href="{{ basePath }}regist_mail/" class="globalNavItem__link globalNavItem__link--regist" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_header_regist','event_label': 'header_regist'});">
            <span class="globalNavItem__icon globalNavItem__icon--regist">{{ macro.svg_code_human() }}</span>
            <p class="globalNavItem__label">会員登録</p>
          </a>
        </li>
      </ul>
      {%- endif -%}
    </nav>
    <nav class="globalMobileNav sp-view">
      <input type="checkbox" id="sp_nav" class="globalMobileNav__toggleTrigger js-navigation-trigger">
      <label for="sp_nav" class="globalMobileNav__openLabel"><span class="globalMobileNav__menuIcon">{{ macro.svg_code_menu() }}</span>メニュー</label>
      <label for="sp_nav" class="globalMobileNav__closeLabel"><span class="globalMobileNav__closeIcon">{{ macro.svg_code_close() }}</span>閉じる</label>
      <div class="globalMobileNavBlock">
        <label for="sp_nav" class="globalMobileNav__closeBackground"></label>
        <div class="globalMobileNavContents">
          {%- if pageName === 'mypage' -%}
          <ul class="globalMobileNavCell">
            <li class="globalMobileNavCellItem">
              <a href="{{ basePath }}job/" class="globalMobileNavCellItem__link globalMobileNavCellItem__link--loggedin">
                <span class="globalMobileNavCellItem__icon globalMobileNavCellItem__icon--list">{{ macro.svg_code_list_sp() }}</span>求人一覧
              </a>
            </li>
            <li class="globalMobileNavCellItem">
              <a href="{{ basePath }}mypage/" class="globalMobileNavCellItem__link globalMobileNavCellItem__link--loggedin">
                <span class="globalMobileNavCellItem__icon globalMobileNavCellItem__icon--regist">{{ macro.svg_code_human_sp() }}</span>マイページ
              </a>
            </li>
          </ul>
          {%- else -%}
          <ul class="globalMobileNavCell">
            <li class="globalMobileNavCellItem">
              <a href="{{ basePath }}job/" class="globalMobileNavCellItem__link">
                <span class="globalMobileNavCellItem__icon globalMobileNavCellItem__icon--list">{{ macro.svg_code_list_sp() }}</span>求人一覧
              </a>
            </li>
            <li class="globalMobileNavCellItem">
              <a href="{{ basePath }}login/" class="globalMobileNavCellItem__link">
                <span class="globalMobileNavCellItem__icon globalMobileNavCellItem__icon--login">{{ macro.svg_code_login_sp() }}</span>ログイン
              </a>
            </li>
            <li class="globalMobileNavCellItem">
              <a href="{{ basePath }}regist_mail/" class="globalMobileNavCellItem__link" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_header_regist','event_label': 'header_regist'});">
                <span class="globalMobileNavCellItem__icon globalMobileNavCellItem__icon--regist">{{ macro.svg_code_human_sp() }}</span>会員登録
              </a>
            </li>
          </ul>
          {%- endif -%}
          <ul class="globalMobileNavLink">
            <li class="globalMobileNavLink__item globalMobileNavLink__item--bold m-frontLink"><a href="{{ basePath }}forbeginner/">初めての方へ</a></li>
            <li class="globalMobileNavLink__item globalMobileNavLink__item--bold m-frontLink"><a href="{{ basePath }}forrecruiter/">医療機関採用担当者の方へ</a></li>
            <li class="globalMobileNavLink__item"><a href="{{ basePath }}company/">会社概要</a></li>
            <li class="globalMobileNavLink__item"><a href="#">個人情報保護方針</a></li>
            <li class="globalMobileNavLink__item"><a href="#">利用規約</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
