<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
{% if pageName === 'top' %}
<title>医療事務職の求人サービスなら【M.PLAT 求職支援】</title>
{% else %}
<title>{{ pageTitle | striptags(false) }}｜医療事務職の求人サービスなら【M.PLAT 求職支援】</title>
{% endif %}
<meta name="description" content="{{ pageDescription }}">
<meta name="format-detection" content="email=no,telephone=no,address=no">

<meta property="og:url" content="https://job.mplat.jp/{%- for breadcrumb in breadcrumbs %}{%- if loop.last %}{{ '' if fileName === 'index' else fileName + '.html' }}{%- else %}{{ breadcrumb.href }}{%- endif %}{%- endfor %}">
<meta property="og:title" content="{{ pageTitle | striptags(false) }}｜医療事務職の求人サービスなら【M.PLAT 求職支援】">
<meta property="og:type" content="{{ 'website' if pageName === 'top' else 'article' }}">
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:image" content="https://job.mplat.jp/img/common/ogp_image.png">
<meta property="og:locale" content="ja_JP">

<link rel="icon" href="{{ basePath }}img/common/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="{{ basePath }}img/common/apple_icon.png">
<link rel="icon" type="image/png" href="{{ basePath }}img/common/android_icon.png">
