<div class="registStep">
  {% for item in registSteps %}
  <div class="registStepBlock{{ item.class }}">
    <div class="registStepCircle">
      <span class="registStepCircle__number">{{ item.number }}</span>
      <span class="registStepCircle__symbol">{{ macro.svg_code_checkSymbol() }}</span>
    </div>
    <p class="registStep__stepText">{{ item.text }}</p>
  </div>
  {% endfor %}
</div>
