<section class="searchButtonBlock">
  {%- if pageName === 'top' -%}
  <div class="sectionHeading">
    <h1 class="sectionHeading__title">求人を探す</h1>
    <small class="sectionHeading__enTitle">SEARCH</small>
  </div>
  {%- endif -%}
  {%- if pageName === 'forbeginner' -%}
  <h2 class="searchButtonBlock__heading">希望条件から<br class="sp-view">求人を探す</h2>
  {%- endif -%}
  <div class="searchButtonBlockInner">
    <div class="searchButtonBlockContent">
      <h3 class="m-heading m-heading--lv3 searchButtonBlockContent__title"><span class="searchButtonBlockContent__icon">{{ macro.svg_code_bag() }}</span>職種から探す</h3>
      <ul class="searchButtonBlockJobList">
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">事務長<span>（候補含む）</span></a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">経営企画室</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">医事課長<span>（候補含む）</span></a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">総務</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">財務・経理</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">人事・労務</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">情報管理</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">広報</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">地域連携室</a></li>
        <li class="searchButtonBlockJobList__item"><a href="#" class="searchButtonBlockJobList__link">その他</a></li>
      </ul>
    </div>
    <div class="searchButtonBlockContent">
      <h3 class="m-heading m-heading--lv3 searchButtonBlockContent__title"><span class="searchButtonBlockContent__icon">{{ macro.svg_code_place() }}</span>勤務地から探す</h3>
      <div class="searchButtonBlockArea">
        <input type="checkbox" id="sp_areaList_kanto" class="searchButtonBlockArea__toggleTrigger" checked>
        <label for="sp_areaList_kanto" class="searchButtonBlockArea__heading">関東</label>
        <ul class="searchButtonBlockAreaList">
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">茨城</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">栃木</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">群馬</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">埼玉</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">千葉</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">東京</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">神奈川</a></li>
        </ul>
      </div>
      <div class="searchButtonBlockArea">
        <input type="checkbox" id="sp_areaList_kansai" class="searchButtonBlockArea__toggleTrigger">
        <label for="sp_areaList_kansai" class="searchButtonBlockArea__heading">関西</label>
        <ul class="searchButtonBlockAreaList">
          <li class="searchButtonBlockAreaList__item searchButtonBlockAreaList__item--disable">三重</li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">滋賀</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">京都</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">大阪</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">兵庫</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">奈良</a></li>
          <li class="searchButtonBlockAreaList__item"><a href="#" class="searchButtonBlockAreaList__link">和歌山</a></li>
        </ul>
      </div>
    </div>
  </div>
  {%- if pageName === 'forbeginner' -%}
  <div class="searchButtonBlockRegist">
    <p class="searchButtonBlockRegist__text">会員登録が<br class="sp-view">お済みでない方はこちら</p>
    <a href="{{ basePath }}regist_mail/" class="searchButtonBlockRegist__button" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_searchBlock_regist','event_label': 'searchBlock_regist'});">無料会員登録</a>
  </div>
  {%- endif -%}
</section>
