<section class="searchButtonBlock">
  {%- if pageName === 'top' -%}
  <div class="sectionHeading">
    <h1 class="sectionHeading__title">求人を探す</h1>
    <small class="sectionHeading__enTitle">SEARCH</small>
  </div>
  {%- endif -%}
  {%- if pageName === 'forbeginner' -%}
  <h2 class="searchButtonBlock__heading">希望条件から<br class="sp-view">求人を探す</h2>
  {%- endif -%}
  <div class="searchButtonBlockInner">
    <div class="searchButtonBlockContent">
      <h3 class="m-heading m-heading--lv3 searchButtonBlockContent__title"><span class="searchButtonBlockContent__icon">{{ macro.svg_code_bag() }}</span>職種から探す</h3>
      <ul class="searchButtonBlockJobList">
        {%- set searchButtonJob = [
          {job: '事務長'},
          {job: '事務長候補'},
          {job: '経営企画'},
          {job: '医事課長<span>（候補含む）</span>'},
          {job: '医事課員'},
          {job: '総務課長<span>（候補含む）</span>'},
          {job: '総務課員'},
          {job: '人事課長<span>（候補含む）</span>'},
          {job: '人事課員'},
          {job: '財務・経理'},
          {job: '地域連携室・渉外'},
          {job: '広報'},
          {job: '情報管理室'},
          {job: '事務総合職'},
          {job: '健診総合職'},
          {job: '診療情報管理士'},
          {job: '社会福祉士'},
          {job: 'その他'}
        ] -%}
        {%- for item in searchButtonJob %}
        <li class="searchButtonBlockJobList__item"><a href="{{ basePath }}job/?job_p_job_category={{ item.job | striptags(false) | urlencode }}" class="searchButtonBlockJobList__link">{{ item.job | safe }}</a></li>
        {%- endfor %}
      </ul>
    </div>
    <div class="searchButtonBlockContent">
      <h3 class="m-heading m-heading--lv3 searchButtonBlockContent__title"><span class="searchButtonBlockContent__icon">{{ macro.svg_code_place() }}</span>勤務地から探す</h3>
      <div class="searchButtonBlockArea">
        <input type="checkbox" id="sp_areaList_kanto" class="searchButtonBlockArea__toggleTrigger" checked>
        <label for="sp_areaList_kanto" class="searchButtonBlockArea__heading">関東</label>
        <ul class="searchButtonBlockAreaList">
          {%- set searchButtonKanto = [
            {area: '茨城'},
            {area: '栃木'},
            {area: '群馬'},
            {area: '埼玉'},
            {area: '千葉'},
            {area: '東京'},
            {area: '神奈川'}
          ] -%}
          {%- for item in searchButtonKanto %}
          <li class="searchButtonBlockAreaList__item"><a href="{{ basePath }}job/?job_p_area={{ item.area | urlencode }}" class="searchButtonBlockAreaList__link">{{ item.area }}</a></li>
          {%- endfor %}
        </ul>
      </div>
      <div class="searchButtonBlockArea">
        <input type="checkbox" id="sp_areaList_kansai" class="searchButtonBlockArea__toggleTrigger">
        <label for="sp_areaList_kansai" class="searchButtonBlockArea__heading">関西</label>
        <ul class="searchButtonBlockAreaList">
          {%- set searchButtonKanto = [
            {area: '三重'},
            {area: '滋賀'},
            {area: '京都'},
            {area: '大阪'},
            {area: '兵庫'},
            {area: '奈良'},
            {area: '和歌山'}
          ] -%}
          {%- for item in searchButtonKanto %}
          <li class="searchButtonBlockAreaList__item"><a href="{{ basePath }}job/?job_p_area={{ item.area | urlencode }}" class="searchButtonBlockAreaList__link">{{ item.area }}</a></li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
  {%- if pageName === 'forbeginner' -%}
  <div class="searchButtonBlockRegist">
    <p class="searchButtonBlockRegist__text">会員登録が<br class="sp-view">お済みでない方はこちら</p>
    <a href="{{ basePath }}regist_mail/" class="searchButtonBlockRegist__button" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_searchBlock_regist','event_label': 'searchBlock_regist'});">無料会員登録</a>
  </div>
  {%- endif -%}
</section>
