<ul class="topicContents">
  {%- set contentsArray = [
    {category: '仕事解説', value: '医療事務の資格って何がある？おすすめの種類や難易度など情報まとめ。', path: '/contents/commentary/qualification.html', image: 'img/contents/thumbnail/image_qualification.png', image2x: 'img/contents/thumbnail/image_qualification@2x.png', margin: 'margin-top-32'},
    {category: '仕事解説', value: '医療事務の平均年収や給料はいくら？仕事内容・転職事情も解説。', path: '/contents/commentary/salary.html', image: 'img/contents/thumbnail/image_salary.png', image2x: 'img/contents/thumbnail/image_salary@2x.png', margin: 'margin-top-16'},
    {category: '転職ノウハウ', value: '医療事務の面接はどんな質問をされる？対策や事前準備を解説', path: '/contents/know_how/interview.html', image: 'img/contents/thumbnail/image_interview.png', image2x: 'img/contents/thumbnail/image_interview@2x.png', margin: 'margin-top-16'}
  ] -%}
  {%- for item in contentsArray -%}
    <li class="contentsListItem {{ item.margin }}">
      <a href="{{ item.path }}" class="contentsListItem__link">
        <div class="contentsListItem__parent">
          <div class="contentsListItem__category">
            <div class="contentsListItem__parts">
              {{ item.category }}
            </div>
          </div>
          <img class="contentsListItem__thumbnail" src="{{ basePath }}{{ item.image }}" srcset="{{ basePath }}{{ item.image }} 1x, {{ basePath }}{{ item.image2x }} 2x"/>
          <div class="contentsListItem__contents">
            <div class="contentsListItem__title">
              {{ item.value }}
            </div>
            <div class="contentsListItem__new">
              NEW
            </div>
          </div>
        </div>
      </a>
    </li>
  {%- endfor -%}
</ul>
