{% extends '_modules/_base.njk' %}
{%- set fileName = 'index' -%}
{%- set pageName = 'contact' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'お問い合わせ' -%}
{%- set en_pageTitle = 'CONTACT' -%}
{%- set pageDescription = 'お問い合わせディスクリプション' -%}
{%- set breadcrumbs = [{item: 'お問い合わせ'}]-%}

{% block content %}

<div class="container">

  <section class="contact">
    <form method="post">
      <p class="contact__text">サイトについてのお問い合わせは、下記フォームより連絡先・質問等をお伝え下さい。<br>
      弊社担当より折り返しご連絡さし上げます。以下の項目を入力して「規約に同意して次へ」ボタンを押して下さい。</p>
      <p class="contact__note">※<span>必須</span>は入力必須項目です。</p>
      <div class="inputBlock">
        <p class="inputBlock__heading">個人氏名{{ macro.inputMust() }}</p>
        <div class="inputBlockFlex">
          <div class="inputBlockFlex__item">
            <input type="text" name="lastName" class="m-inputText js-valueEmptyCheck-target" placeholder="性" value="">
            <p class="m-inputErrorText">個人氏名（性）を正しく入力してください。</p>
          </div>
          <div class="inputBlockFlex__item">
            <input type="text" name="firstName" class="m-inputText js-valueEmptyCheck-target" placeholder="名" value="">
            <p class="m-inputErrorText">個人氏名（名）を正しく入力してください。</p>
          </div>
        </div>
      </div>
      <div class="inputBlock">
        <p class="inputBlock__heading">フリガナ{{ macro.inputMust() }}</p>
        <div class="inputBlockFlex">
          <div class="inputBlockFlex__item">
            <input type="text" name="lastName_kana" class="m-inputText js-valueEmptyCheck-target" placeholder="セイ" value="">
            <p class="m-inputErrorText">フリガナ（セイ）を正しく入力してください。</p>
          </div>
          <div class="inputBlockFlex__item">
            <input type="text" name="firstName_kana" class="m-inputText js-valueEmptyCheck-target" placeholder="メイ" value="">
            <p class="m-inputErrorText">フリガナ（メイ）を正しく入力してください。</p>
          </div>
        </div>
      </div>
      <div class="inputBlock">
        <p class="inputBlock__heading">メールアドレス{{ macro.inputMust() }}</p>
        <input type="text" name="mail" class="m-inputText js-valueEmptyCheck-target js-mailValidation-target" placeholder="example@example.co.jp" value="">
        <p class="m-inputErrorText">メールアドレスを正しく入力してください。</p>
        <p class="inputBlock__note">※半角英数字</p>
        <p class="inputBlock__confirmText">確認のためもう一度メールアドレスを入力してください</p>
        <input type="text" name="mail_confirm" class="m-inputText js-valueEmptyCheck-target js-mailValidation-target" placeholder="example@example.co.jp" value="">
        <p class="m-inputErrorText">メールアドレスを正しく入力してください。</p>
        <p class="inputBlock__note">※半角英数字</p>
      </div>
      <div class="inputBlock">
        <p class="inputBlock__heading">お問い合わせ内容{{ macro.inputMust() }}</p>
        <textarea name="detail" class="m-inputTextArea js-valueEmptyCheck-target" placeholder="お問い合わせ内容を記入してください" value=""></textarea>
        <p class="m-inputErrorText">お問い合わせ内容が入力されていません。</p>
      </div>

      <div class="inputBlock inputBlock--center">
        <p class="inputBlock__guideText">個人情報の取扱いについてをよくお読みいただき、<br class="pc-view">同意いただける場合は、下記にチェックを入れてください。</p>
        <input type="checkbox" name="termAgree" id="termAgree" class="m-inputCheck js-hasChecked-target">
        <label for="termAgree" class="m-inputCheckLabel"><a href="#">個人情報保護方針</a>に同意する</label>
        <p class="m-inputErrorText">個人情報保護方針への同意にチェックをしてください。</p>
      </div>

      <button type="button" class="inputBlock__submit js-formSubmit-target" disabled>確認画面へ</button>
    </form>
  </section>

</div>

{% endblock %}
