{% extends '_modules/_base.njk' %}
{%- set fileName = '404' -%}
{%- set pageName = '404' -%}
{%- set pageLevel = '1' -%}
{%- set pageTitle = 'お探しのページは見つかりませんでした' -%}
{%- set en_pageTitle = 'error' -%}
{%- set pageDescription = 'お探しのページは見つかりませんでした。エムステージ病院事務職求職支援は、病院事務職、医療事務職に特化した転職・求人情報サイトです。医療経営に精通したコンサルタントが、あなたの転職活動をフルサポートします。' -%}
{%- set breadcrumbs = [{item: 'エラー'}]-%}

{% block content %}

  <div class="container">
    <div class="error">
      <p class="error__guide">お探しのページは<br class="sp-view">見つかりませんでした。</p>
      <a href="{{ basePath }}" class="error__button">TOPへ</a>
    </div>
  </div>

  {% include '_modules/_searchButtonBlock.njk' %}

{% endblock %}
