{%- import '_modules/_macro.njk' as macro -%}
{%- set basePath = '/dist/' -%}
{%- set pageName = 'top' -%}
{%- set pageTitle = 'トップページ' -%}
{%- set pageDescription = 'ディスクリプション' -%}

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    {% include '_modules/_meta.njk' %}

    <link rel="stylesheet" type="text/css" href="./css/pages/top.css">

    {% include '_modules/_ga.njk' %}
  </head>
  <body>
    <div class="contentsWrap testclass">
      {% include '_modules/_header.njk' %}

      <div class="mainVisual">
        <h1 class="mainVisual__catchCopy">医療経営を<br>一つ上のステージへ</h1>
      </div>
      <div class="container">
        <section class="topSearchBox">
          <form method="get" action="{{ basePath }}job/">
            <div class="topSearchBoxInner">
              <p class="topSearchBox__title"><span class="topSearchBox__titleIcon">{{ macro.svg_code_search() }}</span>希望条件から求人を探す</p>
              <div class="topSearchBoxContent">
                <ul class="topSearchBoxList">
                  <li class="topSearchBoxList__item topSearchBoxList__item--job">
                    <select name="job_p_job_category" class="m-inputSelect topSearchBoxList__input">
                      {{ macro.optionOccupation() }}
                    </select>
                  </li>
                  <li class="topSearchBoxList__item topSearchBoxList__item--place">
                    <select name="job_u_kinmutitodoufuken" class="m-inputSelect topSearchBoxList__input">
                      {{ macro.optionArea() }}
                    </select>
                  </li>
                  <li class="topSearchBoxList__item topSearchBoxList__item--salary">
                    <select name="job_p_max_salary" class="m-inputSelect topSearchBoxList__input">
                      {{ macro.optionSalary() }}
                    </select>
                  </li>
                  <li class="topSearchBoxList__item topSearchBoxList__item--freeWord">
                    <input name="keywords" type="text" class="m-inputText topSearchBoxList__input topSearchBoxList__input--freeWord" placeholder="キーワードで探す">
                  </li>
                </ul>
                <button type="submit" class="topSearchBox__submit">この条件で<br class="pc-view"><span>検索</span></button>
              </div>
            </div>
          </form>
        </section>
        <section class="suggestJob">
          <div class="sectionHeading">
            <h1 class="sectionHeading__title">おすすめ求人</h1>
            <small class="sectionHeading__enTitle">JOB INFORMATION</small>
          </div>
          <div class="jobcardWrap">
            <div class="jobcardInner swiper-container">
              <div class="jobcardList swiper-wrapper js-async-origin-target">

                <div class="jobcard__item swiper-slide">
                  <a href="" class="jobcard__link js-async-link-target">
                    <p class="jobcard__title js-adjustHeight-title-target js-autoTextOmit-target js-async-title-target"></p>
                    <dl class="jobcard__line jobcard__line--location">
                      <dt>勤務地</dt>
                      <dd class="js-async-place-target"></dd>
                    </dl>
                    <dl class="jobcard__line jobcard__line--work">
                      <dt><span class="jobcard__firstText">職</span>種</dt>
                      <dd class="js-adjustHeight-work-target js-async-occupation-target"></dd>
                    </dl>
                    <dl class="jobcard__line jobcard__line--income">
                      <dt><span class="jobcard__firstText">年</span>収</dt>
                      <dd><span><span class="js-async-minSalary-target"></span>～<span class="js-async-maxSalary-target"></span></span>万円</dd>
                    </dl>
                    <p class="jobcard__linkText">この求人の詳細を見る</p>
                  </a>
                </div>

              </div>
              <div class="jobcardList__control jobcardList__control--prev swiper-button-prev"></div>
              <div class="jobcardList__control jobcardList__control--next swiper-button-next"></div>
            </div>
          </div>
        </section>
        <div class="searchButtonBlockRegist topButtonBlockRegist js-async-logoutNavigation-target">
          <p class="searchButtonBlockRegist__text">会員登録が<br class="sp-view">お済みでない方はこちら</p>
          <a href="{{ basePath }}signup/create_account.html" class="searchButtonBlockRegist__button" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_searchBlock_regist','event_label': 'searchBlock_regist'});">無料会員登録</a>
        </div>
        <section class="searchJob">
          {% include '_modules/_searchButtonBlock.njk' %}
        </section>
        <section class="service">
          <div class="sectionHeading">
            <h1 class="sectionHeading__title">サービスの特長</h1>
            <small class="sectionHeading__enTitle">FEATURE</small>
          </div>
          <div class="serviceInner">
            <div class="serviceContent">
              <p class="serviceContent__image"><img src="./img/top/img_service_01.jpg" alt="マネジメント層の求人が豊富"></p>
              <div class="serviceContentText">
                <p class="serviceContent__heading"><span class="serviceContent__step m-fontFamilyMontserrat">1</span>マネジメント層の<br>求人が豊富</p>
                <p class="serviceContent__outline">M.PLATは医療機関経営に参画する管理職の求人を多数掲載しています。経営に関心のある方、キャリアアップを図りたい方等は必見です。</p>
              </div>
            </div>
            <div class="serviceContent">
              <p class="serviceContent__image"><img src="./img/top/img_service_02.jpg" alt="医療系の専門資格をもつコンサルタントがサポート"></p>
              <div class="serviceContentText">
                <p class="serviceContent__heading"><span class="serviceContent__step m-fontFamilyMontserrat">2</span>医療系の専門資格をもつ<br>コンサルタントがサポート</p>
                <p class="serviceContent__outline">M.PLATでは医療経営士や医療系専門職の資格をもつコンサルタントがあなたの求職活動を全面的にサポートいたします。</p>
              </div>
            </div>
            <div class="serviceContent">
              <p class="serviceContent__image"><img src="./img/top/img_service_03.jpg" alt="医療機関との豊富なネットワーク"></p>
              <div class="serviceContentText">
                <p class="serviceContent__heading"><span class="serviceContent__step m-fontFamilyMontserrat">3</span>医療機関との<br>豊富なネットワーク</p>
                <p class="serviceContent__outline">当社エムステージは、16年の歴史と医師紹介事業で年間約30,000件のマッチング実績があり、医療機関との豊富なネットワークがあります。</p>
              </div>
            </div>
          </div>
          <div class="searchButtonBlockRegist topButtonBlockRegist js-async-logoutNavigation-target">
            <p class="searchButtonBlockRegist__text">会員登録が<br class="sp-view">お済みでない方はこちら</p>
            <a href="{{ basePath }}signup/create_account.html" class="searchButtonBlockRegist__button" onclick="gtag('event', 'click', {'event_category': '{{ pageName }}_searchBlock_regist','event_label': 'searchBlock_regist'});">無料会員登録</a>
          </div>
        </section>
      </div>

      {% include '_modules/_footer.njk' %}
    </div>

    <script src="./js/pages/top.js"></script>
  </body>
</html>
