{%- import '_modules/_macro.njk' as macro -%}
{%- set basePath = '/dist/' -%}
{%- set pageName = 'top' -%}
{%- set pageTitle = 'トップページ' -%}
{%- set pageDescription = 'ディスクリプション' -%}

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    {% include '_modules/_meta.njk' %}

    <link rel="stylesheet" type="text/css" href="./css/pages/top.css">

    {% include '_modules/_ga.njk' %}
  </head>
  <body>
    <div class="contentsWrap">
      {% include '_modules/_header.njk' %}

      <div class="mainVisual">
        <h1 class="mainVisual__catchCopy">医療経営を<br>一つ上のステージへ</h1>
      </div>
      <div class="container">
        <section class="topSearchBox">
          <form method="get" action="{{ basePath }}job/">
            <div class="topSearchBoxInner">
              <p class="topSearchBox__title"><span class="topSearchBox__titleIcon">{{ macro.svg_code_search() }}</span>希望条件から求人を探す</p>
              <div class="topSearchBoxContent">
                <ul class="topSearchBoxList">
                  <li class="topSearchBoxList__item topSearchBoxList__item--job">
                    <select name="job_p_job_category" class="m-inputSelect topSearchBoxList__input">
                      {{ macro.optionOccupation() }}
                    </select>
                  </li>
                  <li class="topSearchBoxList__item topSearchBoxList__item--place">
                    <select name="job_p_area" class="m-inputSelect topSearchBoxList__input">
                      {{ macro.optionArea() }}
                    </select>
                  </li>
                  <li class="topSearchBoxList__item topSearchBoxList__item--salary">
                    <select name="job_p_min_salary" class="m-inputSelect topSearchBoxList__input">
                      {{ macro.optionSalary() }}
                    </select>
                  </li>
                  <li class="topSearchBoxList__item topSearchBoxList__item--freeWord">
                    <input name="keywords" type="text" class="m-inputText topSearchBoxList__input topSearchBoxList__input--freeWord" placeholder="キーワードで探す">
                  </li>
                </ul>
                <button type="submit" class="topSearchBox__submit">この条件で<br class="pc-view"><span>検索</span></button>
              </div>
            </div>
          </form>
        </section>
        <section class="suggestJob">
          <div class="sectionHeading">
            <h1 class="sectionHeading__title">おすすめ求人</h1>
            <small class="sectionHeading__enTitle">JOB INFORMATION</small>
          </div>
          <div class="jobcardWrap">
            <div class="jobcardInner swiper-container">
              <div class="jobcardList swiper-wrapper">

                {%- set jobcarditems = [
                  {heading: '500床規模の総合病院／DPC経験者優遇', place: '埼玉県', job: '医事課長・医事課長候補', money: '400～700'},
                  {heading: '医事課のマネジメント業務／ケアミックス', place: '神奈川県', job: '医事課長・医事課長候補', money: '450～550'},
                  {heading: '小規模病院（100床規模）でのマネジメント職', place: '東京都', job: '医事課長・医事課主任', money: '420～550'},
                  {heading: 'DPC経験者優遇／プロジェクトリーダーの募集', place: '神奈川県', job: '医事課長・医事課長候補', money: '600～700'},
                  {heading: 'マネジメント経験のある方歓迎／年収600万円以上', place: '神奈川県', job: '総務課長', money: '600～700'},
                  {heading: '公立病院／世代交代／若手幹部候補の求人', place: '千葉県', job: '医事課長', money: '400～500'},
                  {heading: '運営戦略の立案・実行／経営分析・経営会議の企画運営', place: '千葉県', job: '事務長（候補）', money: '450～550'},
                  {heading: '100床規模の小規模病院／医事課員のマネジメント業務', place: '埼玉県', job: '医事課長', money: '500～550'},
                  {heading: '300床規模のケアミックス／総務課業務全般', place: '埼玉県', job: '総務課長（候補）', money: '400～450'}
                ] -%}
                {%- for item in jobcarditems %}
                <div class="jobcard__item swiper-slide">
                  <a href="" class="jobcard__link">
                    <p class="jobcard__title js-autoTextOmit-target">{{ item.heading }}</p>
                    <dl class="jobcard__line jobcard__line--location">
                      <dt>勤務地</dt>
                      <dd>{{ item.place }}</dd>
                    </dl>
                    <dl class="jobcard__line jobcard__line--work">
                      <dt><span class="jobcard__firstText">職</span>種</dt>
                      <dd class="js-adjustHeight-work-target">{{ item.job }}</dd>
                    </dl>
                    <dl class="jobcard__line jobcard__line--income">
                      <dt><span class="jobcard__firstText">年</span>収</dt>
                      <dd>{{ item.money }}<span>万円</span></dd>
                    </dl>
                    <p href="#" class="jobcard__linkText">この求人の詳細を見る</p>
                  </a>
                </div>
                {%- endfor %}

              </div>
              <div class="jobcardList__control jobcardList__control--prev swiper-button-prev"></div>
              <div class="jobcardList__control jobcardList__control--next swiper-button-next"></div>
            </div>
          </div>
        </section>
        <section class="searchJob">
          {% include '_modules/_searchButtonBlock.njk' %}
        </section>
        <section class="service">
          <div class="sectionHeading">
            <h1 class="sectionHeading__title">サービスの特長</h1>
            <small class="sectionHeading__enTitle">FEATURE</small>
          </div>
          <div class="serviceInner">
            <div class="serviceContent">
              <p class="serviceContent__image"><img src="./img/top/img_service_01.jpg" alt="マネジメント層の求人が豊富"></p>
              <div class="serviceContentText">
                <p class="serviceContent__heading"><span class="serviceContent__step m-fontFamilyMontserrat">1</span>マネジメント層の<br>求人が豊富</p>
                <p class="serviceContent__outline">M.PLATは医療機関経営に参画する管理職の求人を多数掲載しています。経営に関心のある方、キャリアアップを図りたい方等は必見です。</p>
              </div>
            </div>
            <div class="serviceContent">
              <p class="serviceContent__image"><img src="./img/top/img_service_02.jpg" alt="医療系の専門資格をもつコンサルタントがサポート"></p>
              <div class="serviceContentText">
                <p class="serviceContent__heading"><span class="serviceContent__step m-fontFamilyMontserrat">2</span>医療系の専門資格をもつ<br>コンサルタントがサポート</p>
                <p class="serviceContent__outline">M.PLATでは医療経営士や医療系専門職の資格をもつコンサルタントがあなたの求職活動を全面的にサポートいたします。</p>
              </div>
            </div>
            <div class="serviceContent">
              <p class="serviceContent__image"><img src="./img/top/img_service_03.jpg" alt="医療機関との豊富なネットワーク"></p>
              <div class="serviceContentText">
                <p class="serviceContent__heading"><span class="serviceContent__step m-fontFamilyMontserrat">3</span>医療機関との<br>豊富なネットワーク</p>
                <p class="serviceContent__outline">当社エムステージは、16年の歴史と医師紹介事業で年間約30,000件のマッチング実績があり、医療機関との豊富なネットワークがあります。</p>
              </div>
            </div>
          </div>
        </section>
      </div>

      {% include '_modules/_footer.njk' %}
    </div>

    <script src="./js/pages/top.js"></script>
  </body>
</html>
