{% extends '_modules/_base.njk' %}
{%- set fileName = 'pagelist' -%}
{%- set pageName = 'top' -%}
{%- set pageLevel = '1' -%}
{%- set pageTitle = '画面一覧' -%}
{%- set en_pageTitle = 'PAGE LIST' -%}
{%- set pageDescription = '' -%}
{%- set breadcrumbs = [{item: '画面一覧'}]-%}

{% block content %}

<style>
.pageList {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.pageList a {
  display: inline;
}
.lv1 {
  margin-top: 1em;
}
.lv2 {
  margin-top: 0.4em;
  margin-left: 2em;
  list-style-type: circle;
}
@media screen and (max-width: 768px) {
  .pageList {
    width: 90%;
  }
  .lv1 {
    margin-left: 1em;
  }
  .lv2 {
    margin-left: 3em;
  }
}
</style>

<div class="container">
  <section class="pageList">
    <ul>
      <li class="lv1"><a href="./">トップ</a></li>

      <li class="lv1"><a href="./job/">求人一覧</a></li>
        <li class="lv2"><a href="./job/detail.html">求人詳細</a></li>
        <li class="lv2"><a href="./job/contact.html">求人問い合わせ</a></li>

      <li class="lv1">会員登録導線</li>
        <li class="lv2"><a href="./regist_mail/">メールアドレス登録</a></li>
        <li class="lv2"><a href="./regist_mail/confirm.html">メール認証</a></li>
        <li class="lv2"><a href="./regist_profile/">プロフィール登録</a></li>
        <li class="lv2"><a href="./regist_resume/">レジュメ登録</a></li>

      <li class="lv1"><a href="./login/">ログイン</a></li>

      <li class="lv1"><a href="./mypage/">マイページ</a></li>

      <li class="lv1"><a href="./forbeginner/">はじめての方へ</a></li>

      <li class="lv1"><a href="./forrecruiter/">医療機関採用担当者の方へ</a></li>

      <li class="lv1"><a href="./company/">会社概要</a></li>
    </ul>
  </section>
</div>

{% endblock %}
