{% extends '_modules/_contents.njk' %}
{%- set pageTitle = '未経験から医療事務になるためのコツ！求人の見つけ方も解説' -%}
{%- set pageDescription = '' -%}
{%- set pageKeywords = '' -%}
{%- set pageUrl = 'https://job.mplat.jp/contents/know_how/inexperienced.html' -%}
{%- set pageImage = 'https://job.mplat.jp/img/contents/know_how/inexperienced1.png' -%}
{%- set contentsCategory = '転職ノウハウ' -%}
{%- set contentsTitle = '未経験から医療事務になるためのコツ！求人の見つけ方も解説' -%}
{%- set contentsDate = '2021/00/00' -%}
{%- set twitterText = '未経験から医療事務になるためのコツ！求人の見つけ方も解説' -%}
{%- set twitterHashTag = 'mplat' -%}
{%- set topicContentsArray = [
  {category: '仕事解説', value: '医療事務の資格って何がある？おすすめの種類や難易度など情報まとめ。', path: '/contents/commentary/qualification.html', image: 'img/contents/thumbnail/image_qualification.png', image2x: 'img/contents/thumbnail/image_qualification@2x.png', margin: 'margin-top-32'},
  {category: '仕事解説', value: '医療事務ってどんな仕事内容？メリットデメリット、やりがいも解説', path: '/contents/commentary/merit.html', image: 'img/contents/thumbnail/image_merit.png', image2x: 'img/contents/thumbnail/image_merit@2x.png', margin: 'margin-top-16'},
  {category: '仕事解説', value: '医療事務の平均年収や給料はいくら？仕事内容・転職事情も解説。', path: '/contents/commentary/salary.html', image: 'img/contents/thumbnail/image_salary.png', image2x: 'img/contents/thumbnail/image_salary@2x.png', margin: 'margin-top-16'}
] -%}

{% block contentsMain %}

  <img src="{{ basePath }}img/contents/know_how/inexperienced1.png" class="contentsDetail__image">
  <div class="contentsDetail__text">
  「今人気の職業である医療事務になりたい」「未経験だけど医療事務に転職したい」と思っている方も多いのではないでしょうか。しかし、医療事務未経験から転職活動を始めようとすると、「そもそも未経験でもなれるの？」「未経験者でも資格がいるの？」「業界未経験なので医療について知識がない…」など、未経験ならではのさまざまな不安要素が出てくると思います。今回は、未経験から医療事務になるためのコツや求人の見つけ方について解説します。
</div>
  <h2 class="contentsDetail__block__title">
  医療事務は未経験でもOK？
</h2>
  <div class="contentsDetail__text">
  結論から言うと、医療事務は未経験からスタートすることができます。もちろん、一般企業とは違い医療機関という特殊な場所での仕事であり、業務によっては専門知識が必要な場合もありますので、未経験だと特に不安に思われるかもしれません。しかし、未経験から転職したケースは珍しくなく、医療事務として働き始めてから、実務を通じて知識を身につけていった方がほとんどです。未経験の人でも応募できる求人はたくさんあり、むしろ未経験者にも門戸が開かれている職種と言えます。未経験だからといってあまり心配をせずにぜひチャレンジしてみましょう。
</div>
  <h2 class="contentsDetail__block__title">
  医療事務は資格が必要？
</h2>
  <div class="contentsDetail__text">
  未経験の人にとっては資格についても気になるポイントですよね。実は医療事務に関する資格はかなりの種類があり一説には50種類以上とも言われていますが、いずれも国家資格ではなくすべて民間資格になります。医療事務と言っても、受付業務、レセプト業務、クラーク業務など様々な種類があり、医療事務全般に通ずる内容の資格試験もあれば、レセプトなど特定の業務に特化した内容の資格試験もあります。合格率は30％程度のものから90%近くあるものまで、かなりの幅があり難易度も様々です。
</div>
  <div class="contentsDetail__text">
  受験資格として実務経験を問わない、未経験でも受けられる試験もたくさんあるため、未経験の人で転職活動時にアピールポイントになるように資格取得を試みる方は多くいます。確かに、「診療報酬請求事務能力認定試験」など、持っていると医療機関からの評価が高い資格は存在します。しかし逆に、業界において認知度が低いものや、合格率が高く誰でも取得しやすいものだとあまりプラスにならないケースもあります。通信講座や教材費用、受験にかかる費用など、資格を取得するにもそれなりのコストが発生しますので、資格を選ぶ場合はよく情報収集して判断したほうがよいでしょう。<br>
  一方で、資格を持たず未経験からのスタートでも、実務で知識を身につけ活躍している医療事務の方もたくさんいます。未経験だからと言って安易に資格に飛びつくのではなく、自分にとって本当に必要な資格なのかどうかを良く見きわめて判断するようにしましょう。
</div>
  <h2 class="contentsDetail__block__title">
  未経験でもアピールポイントはある！
</h2>
  <div class="contentsDetail__text">
  前述の通り、医療業界ならではの専門知識が必要な場面もある医療事務ですが、未経験でも前職のスキルが医療事務に活かせることはたくさんあります。医療事務もPC作業が多く、患者さん対応や院内の他職種の人とのやりとりなど、コミュニケーション能力も問われる仕事です。例えば一般企業で営業事務をやっていた人であれば、一通りのオフィスワークが身についていることや顧客対応の仕事などが医療事務においても活かせる経験になります。未経験の方が転職活動する際は、自分のスキルの中で医療事務の仕事にも生かせるものはないか、キャリアを振り返って自分の強みを見つけてみましょう。
</div>
  <img src="{{ basePath }}img/contents/know_how/inexperienced2.png" class="contentsDetail__image">
  <h2 class="contentsDetail__block__title">
  医療事務の求人の見つけ方
</h2>
  <div class="contentsDetail__text">
  準備ができたら未経験者でも応募可能な医療事務の求人を探してみましょう。今は多くのサイトで医療事務の求人を見ることができますし、「未経験OK」の募集もたくさんあります。どこのサイトを見たらよいのか逆に迷ってしまうかもしれません。ここでは未経験の方に特におすすめの求人の見つけ方をご紹介します。
</div>
  <div class="contentsDetail__text">
  <span class="contentsDetail__bold">①求人検索エンジンを利用する</span><br>
  例えば大手の転職サイトだと、医療事務に限らず様々な業種・職種の求人を取り扱っていますので、必ずしも医療事務の求人が豊富とも限りません。また、たくさんある求人サイトをすべてチェックするのも手間と時間がかかります。そんな時おすすめなのが、求人検索エンジンです。求人検索エンジンとは、色々な求人サイトが掲載している求人をまとめて検索することができるサイトです。有名な求人検索エンジンは「Indeed（インディード）」「求人ボックス」「スタンバイ」などがあります。こういったサイトで「職種：医療事務」と検索すると、様々な求人サイトに掲載されている医療事務の求人をまとめてチェックすることができます。加えて、病院やクリニックが直接そのサイトに募集を出しているケースもありますので、とにかく求人数が豊富に出てきます。未経験だからこそ、たくさんの求人を見比べて情報収集したほうが良いですので、未経験者の方に特におすすめの方法になります。
</div>
  <div class="contentsDetail__text">
  <span class="contentsDetail__bold">②医療事務に特化した求人サイトを利用する</span><br>
  もうひとつは、医療事務に特化した求人サイトや転職サービスを利用することです。現在は色々な職種にクローズアップした専門の求人サイトがあり、医療業界においても、医師専門、看護師専門、薬剤師専門など、職種ごとに専門の求人サイトが数多く存在しています。中でも『M.PLAT（エムプラット）求職支援』は病院の事務職に特化した求人サイトです。医療事務や医療クラーク、医事課員、人事総務などはもちろん、医事課長・経営企画・事務長などの管理職の募集まで、かなり幅広いラインナップの求人が掲載されています。『M.PLAT』を運営する株式会社エムステージはもともと医師専門の求人サイトを運営しており、そちらでは17年以上の実績があります。それにより全国数多くの医療機関とのパイプを持っているため、事務職についても豊富な求人情報を保有しているのです。中には『M.PLAT』だけで募集を出している”非公開求人”もありますので、こういった、医療事務に強い専門サイトを使って転職活動をするのもおすすめです。転職者はすべて無料でサービスを受けられますし、医療経営士という資格を持った医療業界に関する知識が豊富なアドバイザーがサポートしてくれますので、未経験でも安心して転職活動を進めることができます。
</div>
  <div class="contentsDetail__text">
  以上、未経験から始める医療事務について解説しました。医療事務は、病気で困っている患者さんやご家族に対して役に立つことができ、医療への貢献という意味で社会的意義も大きい、とてもやりがいのある職業です。未経験者にもチャンスが広がっていますので、この機会にぜひ挑戦してみましょう！
</div>

{% endblock %}
