{% extends '_modules/_contents.njk' %}
{%- set pageTitle = '医療事務の面接はどんな質問をされる？対策や事前準備を解説' -%}
{%- set pageDescription = '医療事務の面接時によくある質問やその対策、面接の事前準備について解説します。医療事務の採用選考を受けると必ず通らなければならないのが面接です。一般企業の事務職とは異なる医療事務。はたして採用面接ではどのようなことを聞かれるのでしょうか？' -%}
{%- set pageKeywords = '' -%}
{%- set pageUrl = 'https://job.mplat.jp/contents/know_how/interview.html' -%}
{%- set pageImage = 'https://job.mplat.jp/img/contents/know_how/interview1.png' -%}
{%- set contentsCategory = '転職ノウハウ' -%}
{%- set contentsTitle = '医療事務の面接はどんな質問をされる？対策や事前準備を解説' -%}
{%- set contentsDate = '2021/04/17' -%}
{%- set twitterHashTag = '医療事務,面接,転職,求人' -%}
{%- set twitterAccount = 'mplat_mstage' -%}
{%- set topicContentsArray = [
  {category: '転職ノウハウ', value: '医療事務の志望動機や自己PRはどう書くべき？書き方のポイントまとめ', path: '/contents/know_how/resume.html', image: 'img/contents/thumbnail/image_resume.png', image2x: 'img/contents/thumbnail/image_resume@2x.png', margin: 'margin-top-32'},
  {category: '転職ノウハウ', value: '未経験から医療事務になるためのコツ！求人の見つけ方も解説', path: '/contents/know_how/inexperienced.html', image: 'img/contents/thumbnail/image_inexperienced.png', image2x: 'img/contents/thumbnail/image_inexperienced@2x.png', margin: 'margin-top-16'},
  {category: '仕事解説', value: '医療事務（正社員）の仕事！仕事の種類や求人の探し方を解説', path: '/contents/commentary/job_type.html', image: 'img/contents/thumbnail/image_job_type.png', image2x: 'img/contents/thumbnail/image_job_type@2x.png', margin: 'margin-top-16'}
] -%}

{% block contentsMain %}

  <img src="{{ basePath }}img/contents/know_how/interview1.png" class="contentsDetail__image">
  <div class="contentsDetail__text">
  医療事務を目指し、医療機関の採用選考を受けていると必ず通らなければならないのが面接です。一般企業の事務職とは異なる医療事務。はたして採用面接ではどのようなことを聞かれるのでしょうか？ここでは、医療事務の面接時によくある質問やその対策、面接の事前準備について解説します。
</div>
  <h2 class="contentsDetail__block__title">
  面接の事前準備はしっかりと！
</h2>
  <div class="contentsDetail__text">
  まず大事なのは面接の事前準備です。面接の段階に進んでいるということはすで履歴書や職務経歴書を医療機関へ提出済みだと思いますので、まず自分が提出したものを改めて確認し、面接の際にどの部分が質問を受けそうか事前に予想して回答を準備しておきましょう。志望動機や自己PRはよく質問される項目です。面接時の発言が事前に提出した書類の内容と矛盾することにならないよう気をつけましょう。<br>
  また、必ずしもマイナスではありませんが、転職回数が多い場合は転職理由について面接時に質問される可能性があります。転職した際の理由を明確に回答できるようにしましょう。転職理由はネガティブな話になる可能性があり伝え方が難しいですが、なるべくポジティブな表現になるように心がけましょう。例えばA社から別業界のB社に転職した時、「A社で嫌な思いをしたのでもう同じ業界にいたくない」というのが本当の理由だとしても、「転職の際、以前から興味のあった●●業界に挑戦し、視野を広げたいと思った」というポジティブな表現に変換すると前向きな印象へと変わります。<br>
  そして、医療機関のホームページをよく確認しておくことも重要です。面接の際、採用担当者は面接者がホームページを確認してきている前提で「当院のホームページを見てどう思いましたか？」などと質問する場合があります。「病院概要」や「院長あいさつ」などのページを見て、その病院の特徴や病院が掲げる理念などを必ず事前に確認するようにしましょう。
</div>
  <div class="contentsDetail__text">
  面接当日の身支度やスケジューリングも大事な面接対策のひとつです。医療事務は病院の受付業務を担うこともあり、患者さんが来て最初に接する人になります。「医療事務＝病院の顔」といっても過言ではありませんので、清潔感が感じられるよう、服装や髪型、爪など細かな部分もチェックしてきちんと整えておきましょう。また、面接当日は時間に余裕をもって行動できるよう、電車の乗換えや駅からの道のりなども調べておきましょう。
</div>
  <h2 class="contentsDetail__block__title">
  医療事務の面接でよくある質問
</h2>
  <div class="contentsDetail__text">
  ここからは、実際に医療事務の面接でよくある質問をご紹介します。
</div>
  <div class="contentsDetail__text">
    <span class="contentsDetail__bold">①なぜ医療事務をやりたいのか</span><br>
  特に未経験から医療事務を目指す人であれば、面接の時に必ず聞かれる質問です。転職であれば、なぜ今いる業界や業種を変えてまで医療事務になりたいのか、回答をしっかり準備しておきましょう。例えば、「以前体調を崩し病院に入院した際、医療事務の方に大変親身になっていただいた。その体験から、病気やけがで困っている人やそのご家族のお役に立てる医療事務という仕事に興味を持つようになった」など、医療事務を目指すきっかけとなったエピソードがあればそれを交えて伝えましょう。医療事務は、一般企業ではなく医療機関で働く事務職ですので、患者さんに対するホスピタリティを持てるかどうかも医療事務にとって大事な要素になります。「医療事務になって医療への貢献がしたい」という熱意を合わせて伝えられるとより良い印象を与えられるかもしれません。
</div>
  <div class="contentsDetail__text">
    <span class="contentsDetail__bold">②これまでの経験をどう活かせるのか</span><br>
  前職の経験についてもよく聞かれる質問のひとつです。これまでの仕事で培ったスキルを医療事務になった時にどう活かせるのか、自分のキャリアと身につけた知識・スキルを整理しておき、面接の時に簡潔に説明できるようにしておきましょう。医療事務もPC作業が多い仕事ですので、PCのスキルがあればアピール材料のひとつになります。Excel、Wordなど、どんなソフトを使ってどの程度の作業ができるのか具体的にアピールできるようにしておくと良いです。また、医療事務はコミュニケーション能力も重要視される職業ですので、前職で職場の人や顧客とコミュニケーションをとる際に心がけていたこと・工夫していたことなどを伝えられるようにしましょう。
</div>
  <div class="contentsDetail__text">
    <span class="contentsDetail__bold">③逆質問</span><br>
  医療事務の面接の最後には、「何か質問はありますか？」と聞かれることがあります。その医療機関に対してどのくらい興味を持っているのか、熱量をアピールできる機会になりますので必ず質問は用意しておくようにしましょう。事前にホームページや求人票を見て、不明に思ったり気になったりしたことを質問しましょう。注意しなければならないのは「休みは取りやすいですか？」「残業は多いですか？」「給料は上がりますか？」といった質問ばかりしてしまうことです。本来誰しも気になることではありますが、“興味があるのは条件面のみ？“と相手に思われかねませんので注意をしましょう。
</div>
  <img src="{{ basePath }}img/contents/know_how/interview2.png" class="contentsDetail__image">
  <h2 class="contentsDetail__block__title">
  最後に
</h2>
  <div class="contentsDetail__text">
  医療事務の面接について、事前準備やよくある質問とその対策などについてご紹介しましたが、いかがでしたか？面接はどうしても緊張してしまいますが、事前準備を万全にしておくことで面接当日は落ち着いて望むことができます。しっかり準備をして面接を突破し、医療事務を目指していきましょう。<br>
  『M.PLAT求職支援』では医療事務をはじめ、病院やクリニックで働く事務職に特化して求人を紹介しています。病院事務に特化しているからこそ求人数が充実していますし、外来クラーク、医事課員や人事総務から医事課長・事務長などの管理職に至るまで、幅広い職種の求人がそろっています。会員登録をすると、医療経営士の資格を持つアドバイザーが転職活動をサポートしてくれるので、医療事務を目指す人に大変おすすめです。このような専門サイトを有効利用して、賢く活動を進めていきましょう。
</div>

{% endblock %}
