{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": "usage"
      }
    ],
    [
      "babel-preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
