.m-heading {
  font-weight: bold;
  color: #5d687c;
  &--lv2 {
    @include fontsize(36, 16);
    margin-bottom: 40px;
    @include media(sp) {
      @include fontsize(26, 16);
    }
  }
  &--lv3 {
    @include fontsize(24, 16);
    margin-bottom: 30px;
  }
  &--lv4 {
    @include fontsize(20, 16);
    margin-bottom: 10px;
  }
}
