.m-inputText {
  -webkit-appearance: none;
  appearance: none;
  @include fontsize(16, 16);
  line-height: 1;
  color: #5d687c;
  position: relative;
  width: 100%;
  border: 1px solid #b3c1d3;
  border-radius: 6px;
  background: transparent;
  &::placeholder {
    color: #5d687c;
    font-weight: normal;
  }
}
.m-inputSelect {
  -webkit-appearance: none;
  appearance: none;
  @include fontsize(16, 16);
  line-height: 1;
  color: #5d687c;
  position: relative;
  width: 100%;
  border: 1px solid #b3c1d3;
  border-radius: 6px;
  background: url(../../img/common/icon/icon_arrow_down.svg) no-repeat right
    11.5px center;
  option {
    &:first-child {
      display: none;
    }
  }
}
