{% extends '_modules/_base.njk' %}
{%- set fileName = 'membership_rule' -%}
{%- set pageName = 'membership_rule' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'サイト会員規約' -%}
{%- set en_pageTitle = 'MEMBERSHIP RULE' -%}
{%- set pageDescription = '株式会社エムステージのM.PLATご登録者様の会員規約です。' -%}
{%- set breadcrumbs = [{item: '会員規約'}]-%}

{% block content %}

<div class="container">
  <section class="membershipRule">
    <h2 class="terms__heading">M.PLAT求職支援 会員規約</h2>
    <p class="terms__preface">株式会社エムステージ（以下、「当社」といいます）が提供する会員向け求職支援サービスの申し込みにあたっては、下記の会員規約（以下「本規約」といいます）及び、別途定める当社の「個人情報の取扱い」の内容に承諾の上、会員登録していただくことをお願いいたします。</p>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第1条（会員向け求職支援サービス「M.PLAT求職支援」）</h3>
      <p class="termsArticle__text">会員向け求職支援サービス「M.PLAT求職支援」（以下、「本会員サービス」といいます）とは、当社が提供する次のサービスの総称です。</p>

      <h4 class="termsArticle__subHeading">１．マイページサービス</h4>
      <p class="termsArticle__text">求職者の方ご自身が、当社が運営するウェブサイトの会員専用ページ（以下、「マイページ」といいます）の諸機能等を利用し、当該サイトに掲載される求人の検索、求人案件に応募できるサービス。</p>

      <h4 class="termsArticle__subHeading">２．紹介サービス</h4>
      <p class="termsArticle__text">当社が、求職者の方の求職条件と当社保有の求人情報と照合し、適性に合致すると思われる医療機関等の情報を紹介するサービス、応募・問い合わせ・面接設定等の代行サービス、当社運営ウェブサイトのマイページ機能等を利用した求人情報提供に関するサービス及び、求職相談及びその他求職者の方に有益な一切のサービス。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第2条（会員登録）</h3>
      <ol class="termsArticleList">
        <li class="termsArticleList__item">求職支援サービス会員（以下、「会員」といいます）とは、当社運営のウェブサイトの申し込みページ等から、個人情報及びその他求職活動に必要な情報（以下、「会員情報」といいます）を登録し、当社がこれを承認した方をいいます。</li>
        <li class="termsArticleList__item">本会員サービスを希望する方はメールアドレスを入力し、当社に送信することをもって申し込みを行います。申し込みを受理し当社が承認の後、会員は、本会員サービスを利用できるものとします。</li>
        <li class="termsArticleList__item">当社は、本人の申し込み時点で、本規約及び別途定める当社の「個人情報の取扱い」の内容に承諾しているものとみなします。不承諾の意思表示は、会員登録の申し込みを行わないことをもって認められます。</li>
        <li class="termsArticleList__item">会員は、当社が運営するウェブサイトのマイページ機能等を利用し、本人がいつでも登録した会員情報を変更・追加・削除でき、かつ、同様に自ら会員登録の抹消を行うことができます。</li>
        <li class="termsArticleList__item">氏名・住所・メールアドレス等、個人情報に変更があった場合には、速やかに会員専用サイトから変更の登録を行ってください。会員情報に変更が生じた場合、変更登録がなされなかったことによる障害、不利益については、当社は一切責任を負わないものとします。また、市区町村の名称変更や明らかな記入違いがあった際、住所等を当社にて修正する場合があります。</li>
      </ol>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第3条（退会）</h3>
      <ol class="termsArticleList">
        <li class="termsArticleList__item">会員は、本サービスの退会を希望する場合は、当社所定の方法により、自ら当社に退会の申し出を行うものとします。</li>
        <li class="termsArticleList__item">会員は、本サービスの退会により、退会時に自己が保有する本サービスの利用に関する一切の権利を失うものとし、当社に対していかなる請求権も行使しないものとします。</li>
        <li class="termsArticleList__item">第１項により会員から退会の申し出があった際、会員と当社との間で有効な会員専用サービスに係る契約またはサービス利用が存在する場合には、当社所定の方法により、本有効サービスの継続または終了等の処理を行うものとします。</li>
      </ol>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第4条（会員の責任）</h3>
      <ol class="termsArticleList">
        <li class="termsArticleList__item">会員は、自らの意思及び責任をもって、本規約に則して会員登録を行い、本会員サービスを利用するものとし、登録した会員情報の内容及び、本会員サービスの利用に関して一切の責任を負うことをご了承いただきます。</li>
        <li class="termsArticleList__item">会員は、本会員サービスが、その方の就職を最終的に保証するものではなく、本人の雇用条件確認のもと、就職先となる医療機関等と直接契約を結び、その雇用契約の内容に関して一切の責任を負うことをご了承いただきます。</li>
        <li class="termsArticleList__item">会員は、会員登録時に当社が発行したID・パスワードを自らの責任において使用及び管理するものとし、いかなる場合も当該パスワードを第三者に譲渡、又は使用させてはならないことをご了承いただきます。</li>
      </ol>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第5条（会員の禁止事項）</h3>
      <p class="termsArticle__text">会員は、本会員サービスの利用にあたり、次の行為を行ってなってはならないこととします。</p>
      <ol class="termsArticleList">
        <li class="termsArticleList__item">虚偽または不正確な会員情報を登録し、それを当社に提供する行為</li>
        <li class="termsArticleList__item">当社又は求人医療機関等の業務・営業を妨害する行為、または社会的信用もしくは評価を毀損する行為</li>
        <li class="termsArticleList__item">他の会員や当社サービスの利用者、当社又は求人医療機関の従業員その他本会員サービスに関わる一切の関係者（以下「関係者」といいます）を誹謗又は、中傷もしくは侮辱する行為</li>
        <li class="termsArticleList__item">当社又はその関係者が有する著作権、商標権その他の知的財産権を含む一切の財産的権利、営業上の機密、名誉、プライバシーなどを侵害する行為</li>
        <li class="termsArticleList__item">複製、販売、出版その他方法の如何を問わず、本会員サービスを通じて入手した情報を本会員サービスの目的の範囲を超えて使用、又は第三者に漏洩もしくは開示する行為</li>
        <li class="termsArticleList__item">法令もしくは公序良俗に反する行為、又はそのおそれがある行為</li>
        <li class="termsArticleList__item">複数の会員IDを登録・利用する行為</li>
      </ol>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第6条（会員サービスの変更・中断・終了）</h3>
      <p class="termsArticle__text">当社は、事業運営上やむを得ない場合、会員への事前通知なくして、本会員サービス（全部又は一部）を変更、又は中断できるものとします。また、一定期間の通知の上で、本会員サービス（全部又は一部）を終了できるものとします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第7条（求人の紹介及び推薦）</h3>
      <p class="termsArticle__text">当社は、会員の方から受領したお申込み内容等をもとに、医療機関が希望する求人条件を照合しますが、検討基準や判断理由などをお伝えすることはできません。また、会員から求人への応募依頼を受け付けた場合であっても、医療機関より示された選考基準等をもとに、当該求人への適合度合いを判断した結果、当社から当該会員を当該医療機関に推薦を行わない場合や、求人医療機関に代わり求人条件に適合しない旨のご連絡をする場合があります。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第8条（雇用契約の扱い）</h3>
      <p class="termsArticle__text">当社は、会員の方のご希望に応じて、医療機関における労働条件その他契約内容の確認において連絡を取次ぎますが、会員の責任において、会員自身が、労働条件等を確認の上、勤務先の医療機関と雇用契約等を結ぶものとし、当社が会員に通知した労働条件が、当該契約の詳細を最終的に保証するものではないこととします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第9条（勤務の取り消し）</h3>
      <p class="termsArticle__text">原則として、会員が雇用条件に同意した後、当該勤務の取り消し（以下、「キャンセル」といいます）又は変更はできません。会員のキャンセルにより、勤務予定の医療機関等に損害を与えた場合、その責は会員自らが負うことになります。また、勤務開始日の20日以内に、会員が勤務をキャンセルした場合、当社の判断により、最大60日間、本会員サービスの利用ができなくなることがあります。但し、会員が勤務予定の医療機関からキャンセルの了承を得た場合は、この限りではありません。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第10条（会員サービスの停止及び除名）</h3>
      <p class="termsArticle__text">当社は、本規約に定める各事項に違反した場合、又は会員と当社との信頼関係が維持できないと判断した場合は、当該会員に対して何らの催告を要することなく、当該会員への本会員サービス（全部又は一部）の提供の終了、又は、会員からの除名することができるものとします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第11条（著作権）</h3>
      <p class="termsArticle__text">当社が運営するウェブサイト上に掲載する情報、デザイン及びそれらを構成する画像等の著作権は、当社又は著作権者に帰属するものとします。当社又は著作権者の承諾を得ることなく、無断で複製、配付、貸与、譲渡、販売等することはできません。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第12条（本規約の変更）</h3>
      <p class="termsArticle__text">本規約内容を変更または中止する場合、当社は1日以上の予告期間をおいて、当社のWEBサイト等を通じて告知します。利用者が変更後に利用する際には変更が適用されるものとし、利用者は変更に同意したものとみなされます。当社は前項により会員に不利益または障害が生じた場合、これについて一切の責任を負わないものとします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第13条（反社会的勢力に関する表明保証等）</h3>
      <ol class="termsArticleList">
        <li class="termsArticleList__item">会員登録希望者は、本サービスの登録時および登録後において、自らが暴力団または暴力団関係企業・団体その他反社会的勢力（以下、総称して「反社会的勢力」といいます。）ではないこと、反社会的勢力の支配・影響を受けていないこと、ならびに自らの役員、従業員、および関係者等が反社会的勢力の構成員、またはその関係者ではないことを表明し、保証するものとします。</li>
        <li class="termsArticleList__item">会員が次の各号のいずれかに該当することが認められた場合、当社はなんら催告することなく会員資格の停止又は取消し（以下「当該処分」といいます。）をすることができるものとします。<br>
          <ol class="termsArticleList termsArticleList--lv2">
            <li class="termsArticleList__item">反社会的勢力に属していること</li>
            <li class="termsArticleList__item">反社会的勢力が経営に実質的に関与していること</li>
            <li class="termsArticleList__item">反社会的勢力を利用していること</li>
            <li class="termsArticleList__item">反社会的勢力に対して資金等を提供し、又は便宜を供与するなどの関与をしていること</li>
            <li class="termsArticleList__item">反社会的勢力と社会的に非難されるべき関係を有していること</li>
            <li class="termsArticleList__item">自らまたは第三者を利用して、当社または当社の関係者に対し、詐術、暴力的行為、または脅迫的言辞を用いたこと</li>
          </ol>
        </li>
        <li class="termsArticleList__item">前項各号のいずれかに該当した会員は、当社が当該処分により被った損害を賠償する責任を負うものとし、自らに生じた損害の賠償を当社に求めることはできないものとします。</li>
      </ol>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第14条（協議事項）</h3>
      <p class="termsArticle__text">本規約の解釈に疑義が生じた場合又は、本規約に定めのない事項は、日本法の定めに従い、会員と当社との間において、互いに誠意をもって協議し解決することとします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第15条（損害賠償）</h3>
      <p class="termsArticle__text">会員が、本規約に違反し、または本会員サービスの利用に際し、当社又は第三者に対して損害を与えた場合、当該会員は直接・間接を問わず、一切の損害を賠償するものとします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第16条（管轄裁判所）</h3>
      <p class="termsArticle__text">万が一、本規約の各事項に関連して紛争が生じた場合は、東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>
    </div>

    <div class="termsArticle">
      <h3 class="termsArticle__heading">第17条（お問い合わせ）</h3>
      <p class="termsArticle__text">本規約に関するお問い合わせは、以下の窓口にて承ります。</p>
    </div>

    <p class="terms__sign">〒141-6005<br>
    東京都品川区大崎2-1-1 ThinkPark Tower5F<br>
    株式会社エムステージ<br>
    Tel：<a href="tel:03-5437-2950" class="terms__signTel">03-5437-2950</a><br>
    Mail：mms@mstage-corp.jp<br>
    （受付時間／平日 9：00～18：00）</p>
  </section>
</div>

{% endblock %}
