{% extends '_modules/_base.njk' %}
{%- set fileName = 'cancel_membership' -%}
{%- set pageName = 'cancel_membership' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '退会' -%}
{%- set en_pageTitle = 'CANCEL THE MEMBERSHIP' -%}
{%- set pageDescription = '退会ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'マイページ', href: 'mypage/'}, {item: '退会'}]-%}

{% block content %}

<div class="container">

  <section class="cancelMembership">
    <form method="post" class="js-async-cancelForm-target">
      <div class="inputBlock">
        <p class="inputBlock__guideText">退会にあたり以下の注意事項にご了承ください。</p>
        <div class="inputBlockNotice">
          <ul class="inputBlockNoticeList">
            <li class="inputBlockNoticeList__item">退会処理を実行すると、今までに登録したプロフィール、レジュメが全て削除されます。</li>
            <li class="inputBlockNoticeList__item">一度退会されたメールアドレスでの再登録が可能ですが、プロフィール、レジュメの登録データを新しいアカウントに引き継ぐことはできません。</li>
            <li class="inputBlockNoticeList__item">本サービスを通して応募される際は、再度会員登録が必要になります。</li>
          </ul>
        </div>
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">退会理由{{ macro.inputMust() }}</h2>
        <div class="inputBlockFlex inputBlockFlex--allowWrap">
          <div class="inputBlockFlex__item inputBlockFlex__item--wrap">
            <input type="radio" id="quit" name="resume_u_taikairiyu" class="m-inputRadio" value="転職活動をとりやめたため">
            <label for="quit" class="m-inputRadioLabel">転職活動をとりやめたため</label>
          </div>
          <div class="inputBlockFlex__item inputBlockFlex__item--wrap">
            <input type="radio" id="offer" name="resume_u_taikairiyu" class="m-inputRadio" value="転職が決まったため">
            <label for="offer" class="m-inputRadioLabel">転職が決まったため</label>
          </div>
          <div class="inputBlockFlex__item inputBlockFlex__item--wrap">
            <input type="radio" id="other" name="resume_u_taikairiyu" class="m-inputRadio" value="有益なサービスが受けられなかったため">
            <label for="other" class="m-inputRadioLabel">有益なサービスが受けられなかったため</label>
          </div>
        </div>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">その他の理由{{ macro.inputWant() }}</h2>
          <textarea class="m-inputTextArea js-async-otherInput-target" placeholder="その他理由がございましたら記入お願いいたします" value="" maxlength="9999"></textarea>
        </div>
      </div>
      <button type="button" class="inputBlock__submit js-async-cancelSubmit-target">退会する</button>
    </form>
  </section>

</div>

{% endblock %}
