{% extends '_modules/_base.njk' %}
{%- set fileName = 'cancel_membership' -%}
{%- set pageName = 'cancel_membership' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '退会' -%}
{%- set en_pageTitle = 'CANCEL THE MEMBERSHIP' -%}
{%- set pageDescription = '退会ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'マイページ', href: 'mypage/'}, {item: '退会'}]-%}

{% block content %}

<div class="container">

  <section class="cancelMembership">
    <form method="post" action="">
      <div class="inputBlock">
        <p class="inputBlock__guideText">退会にあたり以下の注意事項にご了承ください。</p>
        <div class="inputBlockNotice">
          <ul class="inputBlockNoticeList">
            <li class="inputBlockNoticeList__item">退会処理を実行すると、今までに登録したプロフィール、レジュメが全て削除されます。</li>
            <li class="inputBlockNoticeList__item">一度退会されたメールアドレスでの再登録が可能ですが、プロフィール、レジュメの登録データを新しいアカウントに引き継ぐことはできません。</li>
            <li class="inputBlockNoticeList__item">求人情報は引き続きご覧いただけますが、お問い合わせ時や応募時には再度会員登録が必要になります。</li>
          </ul>
        </div>
      </div>

      <button type="submit" class="inputBlock__submit">退会する</button>
    </form>
  </section>

</div>

{% endblock %}
