{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_change_complete' -%}
{%- set pageName = 'password_change_complete' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワード変更完了' -%}
{%- set en_pageTitle = 'COMPLETE' -%}
{%- set pageDescription = 'パスワード変更完了ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'パスワード変更完了'}]-%}

{% block content %}

<div class="container">
  <div class="passwordChangeComplete">
    <p class="passwordChangeComplete__guide">パスワード変更が完了いたしました。</p>
    <a href="{{ basePath }}login/" class="passwordChangeComplete__button is-hidden js-loginLink-target">ログインへ</a>
    <a href="{{ basePath }}mypage/" class="passwordChangeComplete__button is-hidden js-mypageLink-target">マイページへ</a>
  </div>
</div>

{% endblock %}
