{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_change' -%}
{%- set pageName = 'password_change' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワード編集' -%}
{%- set en_pageTitle = 'PASSWORD CHANGE' -%}
{%- set pageDescription = 'エムステージ病院事務職求職支援のログインパスワード編集ページ。エムステージ病院事務職求職支援は、病院事務職、医療事務職に特化した転職・求人情報サイトです。医療経営に精通したコンサルタントが、あなたの転職活動をフルサポートします。' -%}
{%- set breadcrumbs = [{item: 'マイページ', href: 'mypage/'}, {item: 'パスワード変更'}]-%}

{% block content %}

  <div class="container">

    <section class="passwordChange">
      <form method="post">
        <div class="inputBlock">
          <h2 class="inputBlock__heading">新しいパスワード</h2>

          <input type="password" name="password" class="m-inputText js-async-newPassword-target js-passwordValidation-target" placeholder="" value="" maxlength="250">
          <p class="m-inputErrorText"></p>
          <p class="inputBlock__note">※アルファベット小文字・大文字・数字の組み合わせで8文字以上を使用してください。</p>

          <p class="inputBlock__confirmText">新しいパスワード（確認）</p>

          <input type="password" class="m-inputText js-passwordValidation-target" placeholder="" value="" maxlength="250">
          <p class="m-inputErrorText"></p>
          <p class="inputBlock__note">※アルファベット小文字・大文字・数字の組み合わせで8文字以上を使用してください。</p>
        </div>

        <button type="button" class="inputBlock__submit js-activate-target js-async-passwordChangeSubmit-target" disabled>パスワード変更</button>
      </form>
    </section>

  </div>

{% endblock %}
