{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_change' -%}
{%- set pageName = 'password_change' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワード変更' -%}
{%- set en_pageTitle = 'PASSWORD CHANGE' -%}
{%- set pageDescription = 'パスワード変更ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'マイページ', href: 'mypage/'}, {item: 'パスワード変更'}]-%}

{% block content %}

<div class="container">

  <section class="passwordChange">
    <form method="post" action="">
      <div class="inputBlock">
        <p class="inputBlock__heading">現在のパスワード</p>

        <input type="password" name="current_password" class="m-inputText js-async-currentPassword-target" placeholder="" value="">
        <p class="m-inputErrorText"></p>
        <p class="inputBlock__note">※半角英数字</p>
      </div>

      <div class="inputBlock">
        <p class="inputBlock__heading">新しいパスワード</p>

        <input type="password" name="new_password" class="m-inputText js-async-newPassword-target" placeholder="" value="">
        <p class="m-inputErrorText"></p>
        <p class="inputBlock__note">※半角英数字</p>

        <p class="inputBlock__confirmText">新しいパスワード（確認）</p>

        <input type="password" name="new_password" class="m-inputText" placeholder="" value="">
        <p class="m-inputErrorText"></p>
        <p class="inputBlock__note">※半角英数字</p>
      </div>

      <button type="button" class="inputBlock__submit js-async-passwordChangeSubmit-target" disabled>パスワード変更</button>
    </form>
  </section>

</div>

{% endblock %}
