{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_change' -%}
{%- set pageName = 'password_change' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワード変更' -%}
{%- set en_pageTitle = 'PASSWORD CHANGE' -%}
{%- set pageDescription = 'パスワード変更ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'パスワード変更'}]-%}

{% block content %}

<div class="container">
  <section class="passwordChange">
    <div class="inputBlock">
      <p class="inputBlock__guideText">新しいパスワード</p>

      <input type="password" name="registMail_mail" class="m-inputText" placeholder="" value="">
      <p class="m-inputErrorText"></p>
      <p class="inputBlock__note">※半角英数字</p>

      <p class="inputBlock__confirmText">新しいパスワード（確認）</p>

      <input type="password" name="registMail_mail_confirm" class="m-inputText" placeholder="" value="">
      <p class="m-inputErrorText"></p>
      <p class="inputBlock__note">※半角英数字</p>
    </div>
    <a href="#" class="passwordChange__submit">パスワード変更</a>
  </section>
</div>

{% endblock %}
