{% extends '_modules/_base.njk' %}
{%- set fileName = 'profile_edit' -%}
{%- set pageName = 'profile_edit' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'プロフィール編集' -%}
{%- set en_pageTitle = 'EDIT PROFILE' -%}
{%- set pageDescription = 'プロフィール編集ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'プロフィール編集'}]-%}

{% block content %}

<div class="container">

  <section class="editProfile">
    <form method="post" class="js-async-editProfileForm-target h-adr">
      <div class="inputBlock">
        <h2 class="inputBlock__heading">個人氏名{{ macro.inputMust() }}</h2>
        <input type="text" name="person_p_name" class="m-inputText inputBlock__inputHalf js-valueEmptyCheck-target" placeholder="氏名を入力してください" value="">
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">フリガナ{{ macro.inputMust() }}</h2>
        <input type="text" name="person_p_reading" class="m-inputText inputBlock__inputHalf js-valueEmptyCheck-target" placeholder="フリガナを入力してください" value="">
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">生年月日{{ macro.inputMust() }}</h2>
        <div class="inputBlockFlex inputBlockFlex--always">
          <select name="person_u_nenrei_year" class="m-inputSelect inputBlock__inputSmall">
            {{ macro.optionYear() }}
          </select>
          <p class="inputBlock__confirmSetValue inputBlock__confirmSetValue--birthday"></p>
          <select name="person_u_nenrei_month" class="m-inputSelect inputBlock__inputSmall">
            {{ macro.optionMonth() }}
          </select>
          <p class="inputBlock__confirmSetValue inputBlock__confirmSetValue--birthday"></p>
          <select name="person_u_nenrei_day" class="m-inputSelect inputBlock__inputSmall">
            {{ macro.optionDay() }}
          </select>
          <p class="inputBlock__confirmSetValue inputBlock__confirmSetValue--birthday"></p>
        </div>
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">性別{{ macro.inputMust() }}</h2>
        <div class="inputBlockFlex">
          <div class="inputBlockFlex__item js-confirmHide-target">
            <input type="radio" id="man" name="person_u_seibetsu" class="m-inputRadio" value="option_p_male">
            <label for="man" class="m-inputRadioLabel">男性</label>
          </div>
          <p class="inputBlock__confirmSetValue"></p>
          <div class="inputBlockFlex__item js-confirmHide-target">
            <input type="radio" id="woman" name="person_u_seibetsu" class="m-inputRadio" value="option_p_female">
            <label for="woman" class="m-inputRadioLabel">女性</label>
          </div>
          <p class="inputBlock__confirmSetValue"></p>
        </div>
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">住所(都道府県){{ macro.inputMust() }}</h2>
        <select name="person_u_zyusyotodoufuken" class="m-inputSelect inputBlock__inputHalf">
          {{ macro.optionPlace() }}
        </select>
        <p class="inputBlock__confirmSetValue"></p>
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">郵便番号{{ macro.inputWant() }}</h2>
        <input type="hidden" class="p-country-name" value="Japan">
        <input type="text" name="person_u_yubinbangou" class="m-inputText inputBlock__inputHalf p-postal-code" placeholder="141-6005" maxlength="8" value="">
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">住所詳細{{ macro.inputWant() }}</h2>
        <input type="text" name="person_u_zyusyosyousai" class="m-inputText p-locality p-street-address" placeholder="品川区大崎2-1-1" value="">
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">電話番号{{ macro.inputMust() }}</h2>
        <input type="text" name="person_p_telephone" class="m-inputText inputBlock__inputHalf js-valueEmptyCheck-target" placeholder="03-5437-2950" maxlength="13" value="">
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">パスワード{{ macro.inputMust() }}</h2>
        <input type="password" name="password" class="m-inputText js-valueEmptyCheck-target js-passwordValidation-target" value="">
        <div class="js-confirmHide-target">
          <p class="m-inputErrorText">パスワードを正しく入力してください。</p>
          <p class="inputBlock__note">※アルファベット小文字・大文字・数字の組み合わせで8文字以上を使用してください。</p>
          <p class="inputBlock__confirmText">確認のためもう一度パスワードを入力してください</p>
          <input type="password" class="m-inputText js-valueEmptyCheck-target js-passwordValidation-target" value="">
          <p class="m-inputErrorText">パスワードを正しく入力してください。</p>
          <p class="inputBlock__note">※アルファベット小文字・大文字・数字の組み合わせで8文字以上を使用してください。</p>
        </div>
      </div>

      <div class="inputBlock js-confirmHide-target">
        <p class="inputBlock__guideText">※確認メールに記載されたURLをクリックするまで、メールアドレスは変更されていません。</p>
      </div>

      <div class="inputBlock js-confirmHide-target">
        <div class="inputBlockNotice">
          <p class="inputBlockNotice__heading">確認メールが届かない場合</p>
          <p class="inputBlockNotice__text">メール到着までに時間がかかる場合があります。数分後に再度受信してみてください。<br>メーラーによっては迷惑メールとして処理されている可能性もありますので、ご注意ください。</p>
        </div>
      </div>

      <button type="button" class="inputBlock__confirm js-activate-target js-confirm-trigger" disabled>確認する</button>
      <button type="button" class="inputBlock__submit js-async-editProfileSubmit-target js-submit-target is-hide">更新する</button>
      <button type="button" class="inputBlock__confirmBack js-confirmBack-trigger">修正する</button>
    </form>
  </section>

</div>

{% endblock %}
