{% extends '_modules/_base.njk' %}
{%- set fileName = 'confirm_email' -%}
{%- set pageName = 'confirm_email' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '会員登録' -%}
{%- set en_pageTitle = 'SIGN UP' -%}
{%- set pageDescription = '会員としてエムステージ病院事務職求職支援をご利用いただくための新規登録ページ。エムステージ病院事務職求職支援は、病院事務職、医療事務職に特化した転職サイトです。' -%}
{%- set breadcrumbs = [{item: 'メール認証'}]-%}

{% block content %}

  <div class="container">

    {%- set registSteps = [
    {number: '1', text: 'メールアドレス登録', class: ' is-done'},
    {number: '2', text: 'メール認証', class: ' is-active'},
    {number: '3', text: 'プロフィール登録', class: ''},
    {number: '4', text: 'レジュメ登録', class: ''},
    {number: '5', text: '完了', class: ''}
  ] -%}
    {% include '_modules/_registStep.njk' %}

    <div class="registMailConfirm">
      <div class="registMailConfirmInner">
        <p class="registMailConfirm__textLine">ご登録いただいたメールアドレス宛に認証メールをお送りしました。</p>
        <p class="registMailConfirm__textLine">メールアドレス<br class="sp-view">
          <span class="registMailConfirm__mail js-mailInsert-target"></span></p>
        <p class="registMailConfirm__textLine">お送りしたメール文中のリンクをクリックして、プロフィール登録へ進んでください。<br>
          <span class="m-note">※まだ登録は完了しておりません</span></p>
        <p class="registMailConfirm__textLine">確認メールをお送りしたのは、ご入力いただいたメールアドレスが正しいか確認するためです、<br>
      24時間以内にお手続きをされない場合、最初からお手続きが必要となります。</p>
        <p>■確認メールが届かない場合<br>
      メール到着までに時間がかかる場合があります。数分後に再度受信してみてください。<br>
      メーラーによっては迷惑メールとして処理されている可能性もありますので、ご注意ください。</p>
      </div>
    </div>
  </div>

{% endblock %}
