@import "../_index";

.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 100px;
  @include media(sp) {
    min-width: auto;
    padding: 0 20px 60px;
  }
}
.cancelMembership {
  @include _baseContentsWidth;
  width: 720px;
}
.cancelMembership__submit {
  @extend .m-button;
  @extend .m-button--blue;
  @include fontsize(26, 16);
  display: block;
  width: 320px;
  margin: 40px auto 0;
  padding: 13px 0 12px;
}
.cancelMembership__otherInput {
  display: none;
  margin-top: 15px;
}
