@import "../_index";

.keyVisual {
  margin-bottom: 0;
}
.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 80px;
  background-color: #f7f8f9;
  @include media(sp) {
    min-width: auto;
    padding: 0 10px 60px;
  }
}
.container__hasSide {
  @include _baseContentsWidth;
  display: flex;
  justify-content: space-between;
  margin-bottom: 26.5px;
  @include media(sp) {
    display: block;
    margin-bottom: 37.5px;
  }
}
.container__main {
  width: 650px;
  @include media(sp) {
    width: 100%;
  }
}
.container__side {
  width: 310px;
  @include media(sp) {
    display: none;
  }
}
.jobListWrap {
  width: 100%;
}
.jobListItem {
  width: 100%;
  background-color: #fff;
  padding: 2px 2px 0;
  margin-bottom: 10px;
  box-shadow: 0 0 7px 0 #d3d9e0;
  border-radius: 6px;
  &:first-child {
    display: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.jobListItem__link {
  display: block;
  &:hover {
    text-decoration: none;
  }
  &:hover .jobListContentLink {
    text-decoration: underline;
    @include media(sp) {
      text-decoration: none;
    }
  }
}
.jobListItemHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 36px;
}
.jobListItemHeaderCategory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 121px;
  background-color: #0091d3;
  border-radius: 6px 0 0 0 / 6px 0 0 0;
}
.jobListItemHeaderCategory__icon {
  margin: 0 8px 0 10px;
  svg {
    width: 17.91px;
    height: 18px;
  }
}
.jobListItemHeaderCategory__name {
  @include fontsize(14, 16);
  color: #fff;
}
.jobListItemHeaderStatus {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 121px);
  background-color: #1b457e;
  border-radius: 0 6px 0 0 / 0 6px 0 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 18px solid #0091d3;
    border-left: 18px solid #0091d3;
    border-right: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
}
.jobListItemHeaderStatus__new {
  @include fontsize(10, 16);
  color: #1b457e;
  display: block;
  width: 43px;
  height: 17px;
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
  margin-right: 10px;
}
.jobListItemHeaderStatus__date {
  @include fontsize(12, 16);
  color: #fff;
  margin-right: 10px;
}
.jobListContent {
  color: #333;
  width: 92.21311475%;
  margin: 30px auto 0;
  padding-bottom: 25px;
  @include media(sp) {
    margin: 20px auto 0;
  }
}
.jobListContent__title {
  @include fontsize(24, 16);
  color: #1b457e;
  margin-bottom: 9px;
}
.jobListContent__buildingName {
  @include fontsize(14, 16);
  color: #444;
  margin-bottom: 15px;
}
.jobListContentPickup {
  padding: 16px 0 17px;
  border-top: 1px solid #b3c1d3;
  @include media(sp) {
    padding: 12px 0 0px;
  }
}
.jobListContentPickup__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include media(sp) {
    display: block;
  }
}
.jobListContentPickup__item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  @include media(sp) {
    margin-bottom: 10px;
  }
  &:nth-child(1) {
    order: 1;
  }
  &:nth-child(2) {
    order: 3;
    margin-bottom: 0;
    @include media(sp) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  &:nth-child(3) {
    order: 2;
    margin-right: 20px;
    @include media(sp) {
      margin-bottom: 10px;
    }
  }
}
.jobListContentPickup__itemLabel {
  @include fontsize(14, 16);
  display: flex;
  align-items: center;
  color: #5d687c;
  margin-right: 10px;
  @include media(sp) {
    margin-right: 12px;
  }
}
.jobListContentPickup__itemLabelIcon {
  margin-right: 10px;
  @include media(sp) {
    width: 24px;
    text-align: center;
    margin-right: 12px;
  }
  svg {
    fill: #8da2bf;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  &--place {
    svg {
      width: 20.73px;
      height: 30px;
    }
  }
}
.jobListContentPickup__itemContent {
  @include fontsize(14, 16);
  &--salary {
    @include fontsize(16, 16);
    font-weight: bold;
    color: #ec652b;
    span {
      @include fontsize(22, 16);
    }
  }
}
.jobListContentTable {
  margin-bottom: 25px;
  @include media(sp) {
    margin-bottom: 31px;
  }
  th {
    padding: 0 14px;
  }
  td {
    padding: 15px 0 15px 15px;
  }
}
.jobListContentTable__heading {
  width: 85px;
}
.jobListContentLink {
  @include fontsize(16, 16);
  color: #1b457e;
  font-weight: bold;
  width: 175px;
  margin: 0 auto;
  &::after {
    top: 7px;
  }
}
.searchSideBox {
  border-top: 2px solid #1b457e;
  background-color: #fff;
  padding: 20px 25px 30px;
  position: sticky;
  top: 125px;
}
.searchResultText {
  @include fontsize(16, 16);
  span {
    @include fontsize(33, 16);
    color: #ec652b;
    font-weight: bold;
    letter-spacing: -2px;
  }
}
.searchInputArea {
  margin: 18px 0 20px;
}
.searchInputList__item {
  position: relative;
  margin-bottom: 10px;
  &--job {
    background: url(../../img/common/icon/icon_bag.svg) no-repeat 13px center;
  }
  &--place {
    background: url(../../img/common/icon/icon_place.svg) no-repeat 16.4px
      center;
  }
  &--salary {
    background: url(../../img/common/icon/icon_money.svg) no-repeat 13px center;
  }
  &--freeWord {
    background: url(../../img/common/icon/icon_talk.svg) no-repeat 14px center;
  }
}
.searchInputList__input {
  height: 50px;
  padding: 0 25px 0 50px;
  &--freeWord {
    padding: 0 16.5px 0 50px;
  }
}
.searchSubmit {
  width: 200px;
  margin: 0 auto;
}
.searchSubmit__button {
  @extend .m-button;
  @extend .m-button--blue;
  @include fontsize(16, 16);
  width: 100%;
  padding: 11px 0 10px;
  cursor: pointer;
}
.pagenationWrap {
  @include _baseContentsWidth;
}
.jobListPagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(sp) {
    justify-content: flex-end;
  }
  @include landscape(sp) {
    justify-content: center;
  }
}
.jobListPagenation__item {
  margin-right: 5px;
  @include media(sp) {
    margin-right: 10px;
  }
  &:last-child {
    margin-right: 0;
    @include media(sp) {
      margin-right: 8px;
    }
  }
  &--dot {
    border: none;
    width: auto;
  }
  &.is-active .jobListPagenation__link {
    background-color: #b3c1d3;
    color: #fff;
  }
}
.jobListPagenation__link {
  @include fontsize(14, 16);
  appearance: none;
  color: #1b457e;
  text-align: center;
  width: 40px;
  padding: 9px 0;
  border: 1px solid #b3c1d3;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  @include media(sp) {
    width: 50px;
    padding: 14px 0;
  }
  &:hover {
    text-decoration: none;
    background-color: #b3c1d3;
    color: #fff;
  }
}
.globalFooter {
  @include media(sp) {
    margin-bottom: 70px;
  }
}
.mobileSearchWrap {
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}
.mobileSearchInner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.mobileSearch__resultText {
  @include fontsize(14, 16);
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  span {
    @include fontsize(28, 16);
    font-weight: bold;
    color: #ec652b;
  }
}
.mobileSearch__toggleTrigger {
  display: none;
}
.mobileSearch__openLabel {
  @include fontsize(16, 16);
  color: #1b457e;
  text-align: center;
  width: 60%;
  padding: 12px 0 11px;
  border: 1px solid #b3c1d3;
  border-radius: 6px;
  cursor: pointer;
  @include landscape(sp) {
    width: 80%;
  }
}
.mobileSearch__closeLabel {
  display: none;
  @include fontsize(16, 16);
  color: #1b457e;
  text-align: center;
  width: 60%;
  padding: 12px 0 11px;
  border: 1px solid #b3c1d3;
  border-radius: 6px;
  cursor: pointer;
  @include landscape(sp) {
    width: 80%;
  }
}
.mobileSearchBoxWrap {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 70px;
  left: 0;
  width: 100%;
}
.mobileSearch__toggleTrigger:checked ~ .mobileSearch__openLabel {
  display: none;
}
.mobileSearch__toggleTrigger:checked ~ .mobileSearch__closeLabel {
  display: block;
}
.mobileSearch__toggleTrigger:checked ~ .mobileSearchBoxWrap {
  display: block;
}
.mobileSearch__closeBackground {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 115px);
  background-color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}
.mobileSearchBox {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}
.mobileSearchBoxInner {
  width: 100%;
  background-color: rgba(247, 248, 249, 0.9);
  padding: 20px;
}
.mobileSearchList__item {
  position: relative;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 20px;
  }
  &--job {
    background: #fff url(../../img/common/icon/icon_bag.svg) no-repeat 13px
      center;
  }
  &--place {
    background: #fff url(../../img/common/icon/icon_place.svg) no-repeat 16.4px
      center;
  }
  &--salary {
    background: #fff url(../../img/common/icon/icon_money.svg) no-repeat 13px
      center;
  }
  &--freeWord {
    background: #fff url(../../img/common/icon/icon_talk.svg) no-repeat 14px
      center;
  }
}
.mobileSearchList__input {
  @include fontsize(14, 16);
  color: #5d687c;
  height: 50px;
  padding: 0 25px 0 50px;
  &--freeWord {
    padding: 0 16.5px 0 50px;
  }
}
.mobileSearchSubmit {
  width: 230px;
  margin: 0 auto;
}
.mobileSearchSubmit__button {
  @extend .m-button;
  @extend .m-button--blue;
  @include fontsize(18, 16);
  width: 100%;
  padding: 14px 0;
}
