@import "../_index";

.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 100px;
  @include media(sp) {
    min-width: auto;
    padding: 0 20px 60px;
  }
}
.login {
  @include _baseContentsWidth;
  width: 720px;
}
.login__textLink {
  display: inline;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.m-note {
  @include fontsize(16, 16);
}