@import "../_index";

.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 100px;
  @include media(sp) {
    min-width: auto;
    padding: 0 20px 60px;
  }
}
.passwordReminder {
  @include _baseContentsWidth;
  width: 720px;
}
.passwordReminder__text {
  @include fontsize(16, 16);
  margin-bottom: 30px;
}
