@import "../_index";

.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 100px;
  @include media(sp) {
    min-width: auto;
    padding: 0 20px 60px;
  }
}
.editProfile {
  @include _baseContentsWidth;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;

  &.fadeInBox {
    opacity: 100;
  }
}
.editProfile__attentionText {
  color: #f03f3f;
}
