@import "../_index";

.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 100px;
  @include media(sp) {
    min-width: auto;
    padding: 0 20px 60px;
  }
}
.registResume {
  @include _baseContentsWidth;
}
.registResumeRow {
  width: 720px;
  margin: 0 auto 33px;
  &--center {
    text-align: center;
  }
  @include media(sp) {
    width: 100%;
  }
}
.registResume__heading {
  margin-bottom: 12px;
}
.registResume__confirmText {
  margin: 16px 0 6px;
}
.registResume__note {
  margin-top: 6px;
}
.registResume__supportText {
  white-space: nowrap;
}
.registResume__input {
  color: #333;
  height: 50px;
  padding: 0 12px;
  &::placeholder {
    color: #c9c9c9;
  }
  &--half {
    width: calc(50% - 5px);
    @include media(sp) {
      width: 100%;
    }
  }
  &--small {
    width: 140px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
select.registResume__input {
  padding: 0 32px 0 12px;
}
.registResume__inputTextArea {
  color: #333;
  height: 180px;
  &::placeholder {
    color: #c9c9c9;
  }
}
.registResumeInputFlex {
  display: flex;
  justify-content: space-between;
  @include media(sp) {
    display: block;
  }
  &--support {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &--small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.registResumeInputFlex__item {
  width: 50%;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  @include media(sp) {
    width: 100%;
    margin-bottom: 15px;
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
.registResume__submit {
  @include fontsize(26, 16);
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 13px 0 12px;
  &:disabled {
    color: #fff;
    border: 2px solid #333;
    background-color: #333;
    opacity: 0.3;
    &:hover {
      color: #fff;
      border: 2px solid #333;
      background-color: #333;
    }
  }
}
