@import "../_index";

.container {
  width: 100%;
  min-width: 980px;
  padding: 0 0 100px;
  @include media(sp) {
    min-width: auto;
    padding: 0 20px 60px;
  }
}
.editResume {
  @include _baseContentsWidth;
  width: 720px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;

  &.fadeInBox {
    opacity: 100;
  }
}
.editResume__heading {
  @extend .m-heading;
  @extend .m-heading--lv2;
}
.inputBlockNotice {
  background-color: #F7F8F9;
}