{% extends '_modules/_base.njk' %}
{%- set fileName = 'index' -%}
{%- set pageName = 'login' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'ログイン' -%}
{%- set en_pageTitle = 'LOGIN' -%}
{%- set pageDescription = 'ログインディスクリプション' -%}
{%- set breadcrumbs = [{item: 'ログイン'}]-%}

{% block content %}

<div class="container">

  <section class="login">
    <form method="post" class="js-async-loginForm-target">
      <div class="inputBlock">
        <h2 class="inputBlock__heading">メールアドレス</h2>
        <input type="text" name="email" class="m-inputText js-async-loginEmail-target" placeholder="example@example.co.jp" value="">
        <p class="m-inputErrorText">メールアドレスが正しくありません。</p>
      </div>
      <div class="inputBlock">
        <h2 class="inputBlock__heading">パスワード</h2>
        <input type="password" name="password" class="m-inputText js-async-loginPassword-target" value="">
        <p class="m-inputErrorText">パスワードが正しくありません。</p>
      </div>
      <p class="m-note">※パスワードを忘れた方は<a href="{{ basePath }}login/password_reminder.html" class="login__textLink">こちら</a></p>
      <p class="m-note">※会員登録がまだお済みでない場合は、まず<a href="{{ basePath }}regist_mail/" class="login__textLink">会員登録</a>を行ってください</p>

      <button type="button" class="inputBlock__submit js-async-loginSubmit-target" disabled>ログイン</button>
    </form>
  </section>

</div>

{% endblock %}
