{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_reminder_complete' -%}
{%- set pageName = 'password_reminder_complete' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワード<br>再設定依頼完了' -%}
{%- set en_pageTitle = 'COMPLETE' -%}
{%- set pageDescription = 'パスワード再設定完了ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'パスワード再設定完了'}]-%}

{% block content %}

<div class="container">
  <div class="passwordReminderComplete">
    <p class="passwordReminderComplete__guide">メールをお送りしましたので、<br class="sp-view">内容をご確認ください。</p>
    <a href="{{ basePath }}" class="passwordReminderComplete__button">TOPへ</a>
  </div>
</div>

{% endblock %}
