{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_reminder_complete' -%}
{%- set pageName = 'password_reminder_complete' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワード変更' -%}
{%- set en_pageTitle = 'COMPLETE' -%}
{%- set pageDescription = 'MSTAGE病院事務職求職支援のログインパスワード変更ページ。MSTAGE病院事務職求職支援は、病院事務職、医療事務職に特化した転職・求人情報サイトです。医療経営に精通したコンサルタントが、あなたの転職活動をフルサポートします。' -%}
{%- set breadcrumbs = [{item: 'パスワード再設定完了'}]-%}

{% block content %}

<div class="container">
  <div class="passwordReminderComplete">
    <p class="passwordReminderComplete__guide">メールをお送りしましたので、<br class="sp-view">内容をご確認ください。</p>
    <a href="{{ basePath }}" class="passwordReminderComplete__button">TOPへ</a>
  </div>
</div>

{% endblock %}
