{% extends '_modules/_base.njk' %}
{%- set fileName = 'password_reminder' -%}
{%- set pageName = 'password_reminder' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'パスワードを<br class="sp-view">忘れた方へ' -%}
{%- set en_pageTitle = 'PASSWORD REMINDER' -%}
{%- set pageDescription = 'パスワードを忘れた方へディスクリプション' -%}
{%- set breadcrumbs = [{item: 'パスワードを忘れた方へ'}]-%}

{% block content %}

<div class="container">
  <section class="passwordReminder">
    <p class="passwordReminder__text">登録済みのメールアドレスを入力してパスワード変更メールの送信リクエストをしてください。<br>メールに記載されたURLから変更手続きを行ってください。</p>
    <div class="inputBlock">
      <p class="inputBlock__guideText">メールアドレス</p>

      <input type="text" name="registMail_mail" class="m-inputText" placeholder="example@example.co.jp" value="">
      <p class="m-inputErrorText"></p>
      <p class="inputBlock__note">※半角英数字</p>

      <p class="inputBlock__confirmText">メールアドレス（確認）</p>

      <input type="text" name="registMail_mail_confirm" class="m-inputText" placeholder="example@example.co.jp" value="">
      <p class="m-inputErrorText"></p>
      <p class="inputBlock__note">※半角英数字</p>
    </div>
    <a href="#" class="passwordReminder__submit">送信</a>
  </section>
</div>

{% endblock %}
