.flexTable {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  tr {
    border-top: 1px solid #b3c1d3;
    &:last-child {
      border-bottom: 1px solid #b3c1d3;
    }
  }
  th {
    @include fontsize(14, 16);
    font-weight: bold;
    color: #5d687c;
    background-color: #f7f8f9;
    padding: 0 20px;
    text-align: left;
    vertical-align: middle;
    @include media(sp) {
      padding: 0 14px;
    }
  }
  td {
    @include fontsize(14, 16);
    font-weight: normal;
    padding: 10px 10px 10px 20px;
    @include media(sp) {
      padding: 10px 0 10px 15px;
    }
  }
}
