.globalHeader {
  min-width: 980px;
  position: sticky;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #d3d9e0;
  top: 0;
  transform: translateZ(1px);
  @include media(sp) {
    width: 100%;
    min-width: auto;
  }
}
.globalHeaderInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.globalHeader__logo {
  box-sizing: content-box;
  padding: 15px 0 16px 18px;
  @include media(sp) {
    width: 265px;
    padding: 7px 0 13px 9px;
  }
  a:hover {
    opacity: 0.6;
  }
}
