.inputBlock {
  width: 720px;
  margin: 0 auto 33px;
  &--center {
    text-align: center;
  }
  @include media(sp) {
    width: 100%;
  }
}
.inputBlock__heading {
  @extend .m-heading;
  @extend .m-heading--lv4;
  margin-bottom: 12px;
}
.inputBlock__guideText {
  @include fontsize(16, 16);
  margin-bottom: 12px;
}
.inputBlock__note {
  @extend .m-note;
  margin-top: 6px;
}
.inputBlock__confirmText {
  @include fontsize(16, 16);
  margin: 16px 0 6px;
}
.inputBlock__supportText {
  @include fontsize(16, 16);
  white-space: nowrap;
}
.inputBlock__inputHalf {
  width: calc(50% - 5px);
  @include media(sp) {
    width: 100%;
  }
}
.inputBlock__inputSmall {
  width: 140px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.inputBlock__confirm {
  @extend .m-button;
  @extend .m-button--blue;
  @include fontsize(26, 16);
  display: block;
  width: 320px;
  margin: 40px auto 0;
  padding: 13px 0 12px;
  &.is-show {
    display: block;
  }
  &.is-hidden {
    display: none;
  }
}
.inputBlock__confirmBack {
  @extend .m-button;
  @extend .m-button--gray;
  @include fontsize(26, 16);
  display: none;
  width: 320px;
  margin: 40px auto 0;
  padding: 13px 0 12px;
  &.is-show {
    display: block;
  }
  &.is-hidden {
    display: none;
  }
}
.inputBlock__confirmSetValue {
  display: none;
  min-height: 1em;
  height: auto;
  &.is-show {
    display: block;
  }
  &--agree.is-show {
    display: none;
  }
  &.is-hidden {
    display: none;
  }
  &--multi {
    margin-left: 7px;
    @include media(sp) {
      &.is-show {
        display: inline-block;
      }
    }
    &::before {
      content: "、";
    }
    &:first-of-type {
      margin-left: 0;
      &::before {
        content: none;
      }
    }
  }
  &--birthday {
    margin-left: 10px;
    &::before {
      content: "/";
      margin-right: 10px;
    }
    &:first-of-type {
      margin-left: 0;
      &::before {
        content: none;
      }
    }
  }
}
.inputBlock__submit {
  @extend .m-button;
  @extend .m-button--blue;
  @include fontsize(26, 16);
  display: block;
  width: 320px;
  margin: 40px auto 0;
  padding: 13px 0 12px;
  &.is-show {
    display: block;
  }
  &.is-hidden {
    display: none;
  }
}
.inputBlockFlex {
  display: flex;
  justify-content: flex-start;
  @include media(sp) {
    display: block;
  }
  &--always {
    display: flex;
    align-items: center;
  }
  &--multi {
    flex-wrap: wrap;
    @include landscape(sp) {
      display: flex;
    }
  }
}
.inputBlockFlex__item {
  width: 50%;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  @include media(sp) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--multi {
    width: 45%;
    margin-right: 30px;
    margin-bottom: 10px;
    @include media(sp) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include landscape(sp) {
      width: 48%;
      margin-right: 12px;
      &:last-child {
        margin-bottom: 15px;
      }
    }
  }
}
.inputBlockNotice {
  display: block;
  border: 1px solid #5d687c;
  padding: 20px;
}
.inputBlockNotice__heading {
  @include fontsize(14, 16);
  font-weight: bold;
  margin-bottom: 5px;
}
.inputBlockNotice__text {
  @include fontsize(14, 16);
}
.inputBlockNoticeList {
  display: block;
}
.inputBlockNoticeList__item {
  @include fontsize(14, 16);
  position: relative;
  margin-bottom: 2px;
  margin-left: 15px;
  padding-left: 2px;
  &::before {
    display: block;
    position: absolute;
    left: -1em;
    content: "・";
  }
}
