{% extends '_modules/_base.njk' %}
{%- set fileName = 'index' -%}
{%- set pageName = 'regist_resume' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'レジュメ登録' -%}
{%- set en_pageTitle = 'SIGN UP' -%}
{%- set pageDescription = 'レジュメ登録ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'レジュメ登録'}]-%}

{% block content %}

<div class="container">

  {%- set registSteps = [
    {number: '1', text: 'メールアドレス登録', class: ' is-done'},
    {number: '2', text: 'メール認証', class: ' is-done'},
    {number: '3', text: 'プロフィール登録', class: ' is-done'},
    {number: '4', text: 'レジュメ登録', class: ' is-active'},
    {number: '5', text: '完了', class: ''}
  ] -%}
  {% include '_modules/_registStep.njk' %}

  <section class="registResume">

    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">学歴(詳細)<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_schoolCareer" class="m-inputText registResume__input" placeholder="学歴を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">職務経歴(詳細)<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_career" class="m-inputText registResume__input" placeholder="職務経歴を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">現在の勤務先<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_now" class="m-inputText registResume__input" placeholder="現在の就業状況を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">現在の役職<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_nowPosition" class="m-inputText registResume__input" placeholder="現在の役職を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">現在の年収<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_income" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">現在の年収を選択してください</option>
          {%- set selectIncome = [
            {income: '400万円〜'},
            {income: '500万円〜'},
            {income: '600万円〜'},
            {income: '700万円〜'},
            {income: '800万円〜'}
          ] -%}
          {%- for item in selectIncome %}
          <option value="{{ loop.index }}">{{ item.income }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">経験職種<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_occupation" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">経験職種を選択してください</option>
          {%- set selectOccupation = [
            {occupation: '事務'},
            {occupation: '医事課長'}
          ] -%}
          {%- for item in selectOccupation %}
          <option value="{{ loop.index }}">{{ item.occupation }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">経験業種<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_industry" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">経験業種を選択してください</option>
          {%- set selectIndustry = [
            {industry: '医療'},
            {industry: 'IT'}
          ] -%}
          {%- for item in selectIndustry %}
          <option value="{{ loop.index }}">{{ item.industry }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">英語スキル<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_english" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">英語スキルを選択してください</option>
          {%- set selectEnglish = [
            {english: '日常会話'},
            {english: 'ビジネス英語'}
          ] -%}
          {%- for item in selectEnglish %}
          <option value="{{ loop.index }}">{{ item.english }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">TOEIC<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex registResumeInputFlex--support">
        <input type="text" name="registResume_toeic" class="m-inputText registResume__input registResume__input--mini" placeholder="400" value="">
        <p class="registResume__supportText">点</p>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">TOEFL<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex registResumeInputFlex--support">
        <input type="text" name="registResume_toefl" class="m-inputText registResume__input registResume__input--mini" placeholder="350" value="">
        <p class="registResume__supportText">点</p>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">その他の言語・備考<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_otherLanguage" class="m-inputText registResume__input registResume__input--half" placeholder="ドイツ語、フランス語" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">保有資格・スキル<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_qualification" class="m-inputText registResume__input" placeholder="普通自動車運転免許" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">転職回数<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex registResumeInputFlex--support">
        <input type="text" name="registResume_changeNumber" class="m-inputText registResume__input registResume__input--mini" placeholder="1" value="">
        <p class="registResume__supportText">回</p>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">転職理由<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_reason" class="m-inputText registResume__input" placeholder="転職理由を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">性別<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex">
        <div class="registResumeInputFlex__item">
          <input type="radio" id="registResume_sex_man" name="registResume_sex" class="m-inputRadio registResume__input" value="man">
          <label for="registResume_sex_man" class="m-inputRadioLabel">男性</label>
        </div>
        <div class="registResumeInputFlex__item">
          <input type="radio" id="registResume_sex_woman" name="registResume_sex" class="m-inputRadio registResume__input" value="woman">
          <label for="registResume_sex_woman" class="m-inputRadioLabel">女性</label>
        </div>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">生年月日<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex registResumeInputFlex--mini">
        <select name="registResume_birthYear" class="m-inputSelect registResume__input registResume__input--mini">
          <option value="">年</option>
            {%- set selectYear = [
              {year: '1999'},
              {year: '1998'},
              {year: '1997'}
            ] -%}
            {%- for item in selectYear %}
            <option value="{{ loop.index }}">{{ item.year }}</option>
            {%- endfor %}
        </select>
        <select name="registResume_birthMonth" class="m-inputSelect registResume__input registResume__input--mini">
          <option value="">月</option>
            {%- set selectMonth = [
              {month: '1'},
              {month: '2'},
              {month: '3'}
            ] -%}
            {%- for item in selectMonth %}
            <option value="{{ loop.index }}">{{ item.month }}</option>
            {%- endfor %}
        </select>
        <select name="registResume_birthDay" class="m-inputSelect registResume__input registResume__input--mini">
          <option value="">日</option>
            {%- set selectDay = [
              {day: '1'},
              {day: '2'},
              {day: '3'}
            ] -%}
            {%- for item in selectDay %}
            <option value="{{ loop.index }}">{{ item.day }}</option>
            {%- endfor %}
        </select>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">配偶者<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex">
        <div class="registResumeInputFlex__item">
          <input type="radio" id="registResume_spouse_yes" name="registResume_spouse" class="m-inputRadio registResume__input" value="yes">
          <label for="registResume_spouse_yes" class="m-inputRadioLabel">有</label>
        </div>
        <div class="registResumeInputFlex__item">
          <input type="radio" id="registResume_spouse_no" name="registResume_spouse" class="m-inputRadio registResume__input" value="no">
          <label for="registResume_spouse_no" class="m-inputRadioLabel">無</label>
        </div>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">最寄り駅<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_station" class="m-inputText registResume__input registResume__input--half" placeholder="最寄り駅を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">希望雇用形態<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_hopeStatus" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">希望雇用形態を選択してください</option>
          {%- set selectHopeStatus = [
            {hopeStatus: '正社員'},
            {hopeStatus: '契約社員'}
          ] -%}
          {%- for item in selectHopeStatus %}
          <option value="{{ loop.index }}">{{ item.hopeStatus }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">希望勤務地<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_hopePlace" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">希望勤務地を選択してください</option>
          {%- set selectHopePlace = [
            {hopePlace: '東京都'},
            {hopePlace: '神奈川県'}
          ] -%}
          {%- for item in selectHopePlace %}
          <option value="{{ loop.index }}">{{ item.hopePlace }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">希望職種<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_hopeOccupation" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">希望職種を選択してください</option>
          {%- set selectHopeOccupation = [
            {hopeOccupation: '事務'},
            {hopeOccupation: '医事課長'}
          ] -%}
          {%- for item in selectHopeOccupation %}
          <option value="{{ loop.index }}">{{ item.hopeOccupation }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">希望条件(詳細)<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <input type="text" name="registResume_hopeContract" class="m-inputText registResume__input" placeholder="希望条件(詳細)を記入してください" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">希望の年収<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <select name="registResume_hopeIncome" class="m-inputSelect registResume__input registResume__input--half">
        <option value="">希望の年収を選択してください</option>
          {%- set selectHopeIncome = [
            {hopeIncome: '400万円〜'},
            {hopeIncome: '500万円〜'},
            {hopeIncome: '600万円〜'},
            {hopeIncome: '700万円〜'},
            {hopeIncome: '800万円〜'}
          ] -%}
          {%- for item in selectHopeIncome %}
          <option value="{{ loop.index }}">{{ item.hopeIncome }}</option>
          {%- endfor %}
      </select>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">転職に対する意欲<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <textarea name="registResume_motivation" class="m-inputTextArea registResume__inputTextArea" placeholder="お問い合わせ内容を記入してください" value=""></textarea>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="registResumeRow">
      <h3 class="m-heading m-heading--lv4 registResume__heading">連絡方法に関する希望<span class="m-inputIcon m-inputIcon--must">必須</span></h3>
      <div class="registResumeInputFlex">
        <div class="registResumeInputFlex__item">
          <input type="radio" id="registResume_contact_tel" name="registResume_contact" class="m-inputRadio registResume__input" value="tel">
          <label for="registResume_contact_tel" class="m-inputRadioLabel">電話</label>
        </div>
        <div class="registResumeInputFlex__item">
          <input type="radio" id="registResume_contact_mail" name="registResume_contact" class="m-inputRadio registResume__input" value="mail">
          <label for="registResume_contact_mail" class="m-inputRadioLabel">メール</label>
        </div>
      </div>
      <p class="m-inputErrorText"></p>
    </div>

    <button type="submit" name="registResume_submit" class="m-button m-button--blue registResume__submit" disabled>確認画面へ</button>
  </section>
</div>

{% endblock %}
