{% extends '_modules/_base.njk' %}
{%- set fileName = 'complete' -%}
{%- set pageName = 'forrecruiter_complete' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = 'お問い合わせ完了' -%}
{%- set en_pageTitle = 'COMPLETE' -%}
{%- set pageDescription = 'お問い合わせ完了ディスクリプション' -%}
{%- set breadcrumbs = [{item: 'お問い合わせ完了'}]-%}

{% block content %}

<div class="container">
  <div class="forrecruiterComplete">
    <p class="forrecruiterComplete__guide">お問い合わせ完了いたしました。</p>
    <a href="{{ basePath }}forrecruiter/" class="forrecruiterComplete__button">戻る</a>
  </div>
</div>

{% endblock %}
