{% extends '_modules/_base.njk' %}
{%- set fileName = 'complete' -%}
{%- set pageName = 'forrecruiter_complete' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '医療機関採用担当者の方へ' -%}
{%- set en_pageTitle = 'COMPLETE' -%}
{%- set pageDescription = 'M.PLAT 求職支援へのお問い合わせは当ページよりお気軽にどうぞ。' -%}
{%- set breadcrumbs = [{item: 'お問い合わせ完了'}]-%}

{% block content %}

<div class="container">
  <div class="forrecruiterComplete">
    <p class="forrecruiterComplete__guide">お問い合わせ完了いたしました。</p>
    <a href="{{ basePath }}forrecruiter/" class="forrecruiterComplete__button">戻る</a>
  </div>
</div>

{% endblock %}
