{% extends '_modules/_base.njk' %}
{%- set fileName = 'index' -%}
{%- set pageName = 'forrecruiter' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '医療機関採用担当者の方へ' -%}
{%- set en_pageTitle = 'FOR RECRUITERS' -%}
{%- set pageDescription = 'M.PLAT 求職支援へのお問い合わせは当ページよりお気軽にどうぞ。' -%}
{%- set breadcrumbs = [{item: '医療機関採用担当者の方へ'}]-%}

{% block content %}

<div class="container">
  <div class="forrecruiter">
    <form method="post" class="js-async-serviceContactForm-target">
      <section class="serviceInfo js-confirmHide-target">
        <div class="serviceInfoInner">
          <h2 class="forrecruiter__heading">M.PLAT 求職支援とは</h2>
          <p class="serviceInfo__text">「M.PLAT 求職支援」は、エムステージが提供する医療機関の事務長・各管理部門マネジメント層の採用に特化した<br>
          完全成功報酬型の人材紹介サービスです。</p>
          <p class="serviceInfo__note">※M.PLATとは、医療経営に携わる方、関心のある方が集まる場を表したブランドの総称です。<br>
          医療経営をより良くするための様々なサービス・コンテンツを順次展開していきます。</p>
        </div>

        <div class="serviceInfoFeature">

          {%- set serviceFeature = [
            {number: '1', title: '事務長・各部門マネジメント層に特化', description: '医療経営が厳しさを増していく昨今、医療業界内は勿論のこと、一般企業からも優秀な経営人材を確保する動きが活性化しています。私たちは、社内外のネットワークやメディアを駆使して、事務長や各医療事務職のマネジメント層またはそれに準じる人材にアプローチし、医療経営をプラスにもたらす人材獲得を支援します。'},
            {number: '2', title: '医療経営士取得者がサポート', description: '「医療経営士」とは医療機関マネジメントのプロフェッショナル育成のために作られた民間資格です、病院組織構造から経営手法、医療法務に至るまで幅広い知識を有しています。エムステージでは、1級取得者3名、2級取得者30名（2019年10月現在）が在籍しており、経営的な視点から人材紹介を行うことができます。また、医療系専門職の出身者も在籍しており、キャリア事業に携わる全社員が専門資格を取得しています。'},
            {number: '3', title: '多角的なアプローチ', description: '優秀なマネジメント層の人材獲得は、医師以上に困難といわれます。エムステージでは、医療経営層の採用に特化した求人サイト「M.PLAT 求職支援」を開設し、求職者にリーチします。さらに、webマーケティングはもちろん、全国11か所の支店を中心とした幅広く細やかな営業で、候補者へのアプローチを行います。'}
          ] -%}
          {%- for item in serviceFeature -%}
          <div class="serviceInfoFeatureItem">
            <div class="serviceInfoFeatureLeft">
              <img src="{{ basePath }}img/forrecruiter/img_serviceInfoFeature_0{{ item.number }}.jpg" alt="FEATURE 0{{ item.number }}　{{ item.title }}" class="pc-view">
              <img src="{{ basePath }}img/forrecruiter/sp/img_serviceInfoFeature_0{{ item.number }}.jpg" alt="FEATURE 0{{ item.number }}　{{ item.title }}" class="sp-view">
            </div>
            <div class="serviceInfoFeatureRight">
              <div class="serviceInfoFeatureTitle">
                <div class="serviceInfoFeature__step">FEATURE <span class="serviceInfoFeature__number">{{ item.number }}</span></div>
                <div class="serviceInfoFeature__titile">{{ item.title }}</div>
              </div>
              <p class="serviceInfoFeature__flowText">{{ item.description }}</p>
              {%- if loop.first -%}
              <div class="serviceInfoFeatureScope">
                <p class="serviceInfoFeature__subTitle">取り扱い職種（候補を含む）</p>
                <p class="serviceInfoFeature__subText">事務長、経営企画室、医事課長及び、総務、財務・経理、人事・労務、情報管理、広報、地域連携室の責任者</p>
              </div>
              {%- endif -%}
            </div>
          </div>
          {%- endfor -%}

        </div>
      </section>
      <section class="serviceProcess js-confirmHide-target">
        <div class="serviceProcessInner">
          <h2 class="forrecruiter__heading">採用プロセス</h2>
          <p class="serviceProcess__text">ヒアリングによる候補者の選定から、面接の同席、採用後のフォローアップまで、<br>
          医師紹介事業のノウハウを活用して質の高い採用活動を支援いたします。</p>

          <div class="serviceProcessFlow">

            {%- set serviceFlow = [
              {number: '1', text: 'ヒアリング'},
              {number: '2', text: '求人登録・<br class="pc-view">掲載'},
              {number: '3', text: '候補者の推薦'},
              {number: '4', text: '選考・面接'},
              {number: '5', text: '採用・入職後<br class="pc-view">フォロー'}
            ] -%}
            {%- for item in serviceFlow -%}
            <div class="serviceProcessFlowItem">
              <div class="serviceProcessFlowItem__step">STEP.<span class="serviceProcessFlowItem__number">{{ item.number }}</span></div>
              <div class="serviceProcessFlowItem__text">{{ item.text | safe }}</div>
            </div>
            {%- endfor -%}

          </div>

        </div>
      </section>
      <section class="serviceContact" id="contact" name="contact">
        <h2 class="forrecruiter__heading">お問い合わせ</h2>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">個人氏名{{ macro.inputMust() }}</h2>
          <input type="text" name="name" class="m-inputText inputBlock__inputHalf js-valueEmptyCheck-target" placeholder="氏名を入力してください" value="" maxlength="250">
          <p class="inputBlock__confirmSetValue"></p>
          <p class="m-inputErrorText">個人氏名を入力してください。</p>
        </div>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">法人・施設・会社名{{ macro.inputMust() }}</h2>
          <input type="text" name="company" class="m-inputText js-valueEmptyCheck-target" placeholder="法人・施設・会社名を入力してください" value="" maxlength="250">
          <p class="inputBlock__confirmSetValue"></p>
          <p class="m-inputErrorText">法人・施設・会社名を入力してください。</p>
        </div>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">部署・役職{{ macro.inputMust() }}</h2>
          <input type="text" name="position" class="m-inputText js-valueEmptyCheck-target" placeholder="部署・役職を入力してください" value="" maxlength="250">
          <p class="inputBlock__confirmSetValue"></p>
          <p class="m-inputErrorText">部署・役職を入力してください。</p>
        </div>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">電話番号{{ macro.inputMust() }}</h2>
          <input type="number" name="telephone" class="m-inputText inputBlock__inputHalf js-valueEmptyCheck-target" placeholder="0354372950" oninput="if(value.length>11)value=value.slice(0,11)" value="">
          <p class="inputBlock__confirmSetValue"></p>
          <p class="m-inputErrorText">電話番号を入力してください</p>
        </div>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">メールアドレス{{ macro.inputMust() }}</h2>
          <input type="text" name="email" class="m-inputText js-mailValidation-target" placeholder="example@example.co.jp" value="" maxlength="250">
          <p class="inputBlock__confirmSetValue"></p>
          <p class="m-inputErrorText">メールアドレスを正しく入力してください。</p>
        </div>
        <div class="inputBlock">
          <h2 class="inputBlock__heading">お問い合わせ内容{{ macro.inputMust() }}</h2>
          <textarea name="content" class="m-inputTextArea js-valueEmptyCheck-target" placeholder="お問い合わせ内容を記入してください" value="" maxlength="9999"></textarea>
          <p class="inputBlock__confirmSetValue"></p>
          <p class="m-inputErrorText">お問い合わせ内容が入力されていません。</p>
        </div>

        <div class="inputBlock inputBlock--center js-confirmHide-target">
          <p class="inputBlock__guideText">個人情報の取扱いについてをよくお読みいただき、<br class="pc-view">同意いただける場合は、下記にチェックを入れてください。</p>
          <input type="checkbox" id="termAgree" class="m-inputCheck js-hasChecked-target">
          <label for="termAgree" class="m-inputCheckLabel"><a href="{{ basePath }}privacy_policy/" target="_blank">個人情報保護方針</a>に同意する</label>
          <p class="m-inputErrorText">個人情報保護方針への同意にチェックをしてください。</p>
        </div>
        <p class="inputBlock__confirmSetValue inputBlock__confirmSetValue--agree"></p>

        <button type="button" class="inputBlock__confirm js-activate-target js-confirm-trigger" disabled>確認する</button>
        <button type="button" class="inputBlock__submit js-async-serviceContactSubmit-target js-submit-target is-hidden">送信する</button>
        <button type="button" class="inputBlock__confirmBack js-confirmBack-trigger">修正する</button>
      </section>
    </form>
  </div>
</div>

{% endblock %}
