{% extends '_modules/_contents.njk' %}
{%- set pageTitle = '医療事務ってどんな仕事内容？メリットデメリット、やりがいも解説' -%}
{%- set pageDescription = '' -%}
{%- set pageKeywords = '' -%}
{%- set ogUrl = 'https://job.mplat.jp/contents/commentary/merit.html' -%}
{%- set contentsCategory = '仕事解説' -%}
{%- set contentsTitle = '医療事務ってどんな仕事内容？メリットデメリット、やりがいも解説' -%}
{%- set contentsDate = '2021/00/00' -%}
{%- set twitterText = '医療事務ってどんな仕事内容？メリットデメリット、やりがいも解説' -%}
{%- set twitterUrl = 'https://job.mplat.jp/contents/commentary/merit.html' -%}
{%- set twitterHashTag = 'mplat' -%}
{%- set facebookUrl = 'https://job.mplat.jp/contents/commentary/merit.html' -%}
{%- set lineUrl = 'https://job.mplat.jp/contents/commentary/merit.html' -%}

{% block contentsMain %}

<img src="{{ basePath }}img/contents/commentary/merit1.png" class="contentsDetail__image">
<div class="contentsDetail__text">
  今人気の職業のひとつである医療事務。「医療事務をやりたい」を思って色々と調べている方も多いのではないでしょうか。しかし経験がないと、そもそもどんな仕事内容なのか？給料の相場は？実はきつい仕事なのでは‥？など、わからないことがたくさんありますよね。本日はそんな医療事務の仕事内容についてわかりやすく解説したいと思います。
</div>
<h2 class="contentsDetail__block__title">
  医療事務とは
</h2>
<div class="contentsDetail__text">
  「医療事務」は、ウィキペディアではこのような説明がされています。
</div>
<div class="contentsDetail__quote">
  <div class="contentsDetail__quote__icon">“</div>
  <div class="contentsDetail__quote__text">
    医療事務（いりょうじむ）とは、医療機関において行われる診療報酬請求事務に代表される医療保険事務の略称であり、広義には、窓口業務や診療情報管理、医師事務作業補助も含まれる。
  </div>
</div>
<div class="contentsDetail__text">
  簡単に言うと、病院やクリニックで働いている事務職の総称になります。一番イメージしやすいのは、病院やクリニックに行った時に最初に迎えてくれる受付の方ではないでしょうか。診察の受付をし、保険証・診察券の確認やカルテの準備などを行ない、診療後の会計まで対応します。医療事務の仕事内容と言うと、この受付業務のみを想像されている方も多いかもしれませんが、前述のウィキペディアの「広義には‥」にもあるように、他にも医療事務の仕事は多岐にわたっています。
</div>
<div class="contentsDetail__text">
  中でも最も重要と言われる業務は「レセプト業務」です。患者が窓口で払う金額は診療にかかった全費用のうち最大で3割のみで、残りは市区町村などの健康保険の保険者に1か月分まとめて医療機関が請求しています。この請求する業務がレセプト業務なのです。診療報酬に関する専門的な知識が必要であり、何より医療機関の収入に大きく関わる業務ですので、正確性が高く求められる仕事です。
</div>
<div class="contentsDetail__text">
  そのほか、医師の事務的な業務をサポートする「医師事務作業補助」、入院患者の入退院の事務手続きや病棟のナースステーションでの事務業務を担う「病棟クラーク」など、様々な役割を持った医療事務があります。
</div>
<h2 class="contentsDetail__block__title">
  医療事務はなぜ人気なの？
</h2>
<div class="contentsDetail__text">
  一見難しそうな仕事内容ですが、医療事務は大変人気のある職業のひとつです。人気の理由ははたしてどこにあるのでしょうか？
</div>
<div class="contentsDetail__text">
  ①資格が無くても働けて長く活躍できる<br>
  医療事務に関する資格は数多く存在しますが、国家資格ではなくすべて民間資格になります。資格によって難易度がまちまちで医療機関からの評価にもかなり幅がありますが、中には転職で有利になったり、一部の病院では資格手当を設けているケースがあり給与アップにつながったりする資格もあります。しかし、医療機関は基本的に経験重視で採用しているところが多く、資格を持っていなくても活躍している方はたくさんいます。また、経験があれば年齢にはこだわらず採用する医療機関も多く、長い期間にわたってキャリアを積むことができるのも特徴です。
</div>
<div class="contentsDetail__text">
  ②日本全国どこでも経験が活かせる<br>
  病院やクリニックでの仕事は地域に関わらず共通の部分が多いことから、別の医療機関に就職したとしても知識や経験をそのまま活かすことができます。医療機関は日本全国にありますので、急な転居で転職しなければならなくなった‥といった場合でも次の仕事が見つけやすい、再就職にも強い職業と言えます。
</div>
<div class="contentsDetail__text">
  ③様々な雇用形態がある<br>
  正社員・派遣社員・パートアルバイトなど様々な雇用形態の求人が多く、選択肢が多いことが特徴です。その時々のライフスタイルに合わせて働き方を選ぶことができますので、この点も医療事務の大きな魅力のひとつです。
</div>
<img src="{{ basePath }}img/contents/commentary/merit2.png" class="contentsDetail__image">
<h2 class="contentsDetail__block__title">
  医療事務の仕事にデメリットはある？
</h2>
<div class="contentsDetail__text">
  それでは、逆に医療事務の仕事のデメリットとは何なのでしょうか？一番に挙げられるのは「給与の低さ」です。医療事務の平均年収はおよそ200～300万円と言われており、日本全体の平均年収（441万円）よりも低いですし、他の一般企業の事務職と比べても低い水準となっています。
</div>
<h2 class="contentsDetail__block__title">
  医療事務のやりがい
</h2>
<div class="contentsDetail__text">
  給与水準が低いというデメリットはあるものの、それを上回るメリットがたくさんあるのが医療事務という仕事です。病院やクリニックと言うと、医師や看護師・薬剤師など、国家資格を持ったスペシャリストばかりが活躍しているように見えますが、医療事務は特別な学歴でなくとも医療に携わる仕事ができますし、むしろ医療事務がいなければ病院運営が成り立たないのもまた事実であり、重要な存在であることは間違いありません。まさに「縁の下の力持ち」という存在です。病気やけがで困っている患者さんのために働くことができ、”人の役に立っている”という充実感を得られ、”自分の仕事には社会的意義がある”と感じられるのは、他の事務職ではなかなか味わえない大きなやりがいになるのではないでしょうか。
</div>
<div class="contentsDetail__text">
  経験重視という話もしましたが、募集の中には「未経験者歓迎」と掲げている求人もありますので、「これから医療事務を目指したい」という方は、ぜひ求人を見ながら情報収集をしてみるのはいかがでしょうか。
</div>

{% endblock %}
