{% extends '_modules/_contents.njk' %}
{%- set pageTitle = '医療事務の平均年収や給料はいくら？仕事内容・転職事情も解説。' -%}
{%- set pageDescription = '' -%}
{%- set pageKeywords = '' -%}
{%- set ogUrl = 'https://job.mplat.jp/contents/commentary/salary.html' -%}
{%- set contentsCategory = '仕事解説' -%}
{%- set contentsTitle = '医療事務の平均年収や給料はいくら？仕事内容・転職事情も解説。' -%}
{%- set contentsDate = '2021/00/00' -%}
{%- set twitterText = '医療事務の平均年収や給料はいくら？仕事内容・転職事情も解説。' -%}
{%- set twitterUrl = 'https://job.mplat.jp/contents/commentary/salary.html' -%}
{%- set twitterHashTag = 'mplat' -%}
{%- set facebookUrl = 'https://job.mplat.jp/contents/commentary/salary.html' -%}
{%- set lineUrl = 'https://job.mplat.jp/contents/commentary/salary.html' -%}

{% block contentsMain %}

<img src="{{ basePath }}img/contents/commentary/salary1.png" class="contentsDetail__image">
<h2 class="contentsDetail__block__title">
  医療事務の年収・時給・給料事情は？
</h2>
<div class="contentsDetail__text">
  医療事務の年収を調べてみると、医療事務（正社員）の年収はおおよそ200万円～300万円程度が一般的な相場でした。一言で医療事務と言っても、高卒・大卒の違いや経験年数、年齢など、個人の状況によって幅がありますので、年収180～190万円程度のケースもあれば年収350万円を超えるケースもあります。
</div>
<div class="contentsDetail__text">
  国税庁の平成30年分民間給与実態統計調査結果によると、給与所得者の平均年収は441万円ですので、医療事務の平均年収はやや低い水準であると言えます。また、事務職というカテゴリの中で比較してみても、一般企業の営業事務や一般事務の平均年収よりも、医療事務の年収のほうが低い状況となっているようです。このように年収・給料の面ではやや魅力に欠けるものの、病院・クリニックという安定した環境、残業が少ない、資格が無くても勤務できるなど働きやすいイメージがあり、とくに女性に根強い人気のある職業です。
</div>
<div class="contentsDetail__text">
  『M.PLAT（エムプラット）求職支援』は医療事務をはじめ、医療機関で働く様々な事務職の求人を専門に取り扱っています（正社員のみ）。こちらに掲載している求人のデータを見てみると、医事課員募集の求人の年収は平均270～353万円、総務課員は平均279～362万円、人事課員は平均307～413万円、事務総合職は平均303～400万円となっています。病院の事務職と言っても、仕事内容の違いや求められるスキル、即戦力を求める募集かどうか、勤務場所などによって年収・給与条件が大きく変化します。
</div>
<div class="contentsDetail__text">
  また、医療事務の場合は正社員以外にもパートや契約社員といった非正規での雇用形態で働いている方が多いのも特徴のひとつです。派遣社員として働く場合は一般的に時給1,200円～1,700円程度、パート・アルバイトの場合は時給900円台～が相場となっています。
</div>
<h2 class="contentsDetail__block__title">
  医療事務の仕事とは？
</h2>
<div class="contentsDetail__text">
  医療事務の主な仕事は、病院の受付業務、クラーク業務、レセプト業務などがあります。医療事務は、医師や看護師、薬剤師とは違って、国家資格が必要な専門職ではありません。しかし医療機関という特殊な職場であり、レセプトなど専門的な知識が必要な業務もあることから多くの民間資格があります。代表的なものは、診療報酬請求事務能力認定試験、医療事務技能審査試験(メディカルクラーク)、医療秘書技能検定試験、医療事務検定試験などがあげられます。自身のスキルアップや、就職の際アピールポイントとするためにこれらの資格取得を目指す方が多くいらっしゃいます。
</div>
<div class="contentsDetail__text">
  これらの資格を持つことによって年収の違いが出てくるのかどうかが気になるところですが、資格を取得していてもそれに対する評価は医療機関によって差があり、資格手当制度の有無も医療機関によって様々ですので、必ずしも年収アップに直結するというわけではないのが現状のようです。
</div>
<img src="{{ basePath }}img/contents/commentary/salary2.png" class="contentsDetail__image">
<h2 class="contentsDetail__block__title">
  医療事務で年収・給料を上げるには？
</h2>
<div class="contentsDetail__text">
  それでは、医療事務で年収アップを目指したい場合はどうしたらよいのでしょうか？<br>
  ポイントのひとつは『勤務先』になります。病院の場合は、特に規模の大きな総合病院や大学病院では人事制度が充実しており、ボーナスなどの条件が良い傾向にあります。クリニックであれば、美容系など自由診療をメインとするクリニックも年収やボーナスなどの条件が良い傾向です。いずれも個々の病院・クリニックによって提示される年収は様々ですので、求人を見る際には年収欄や給与体系などの条件をよくチェックするようにしましょう。<br>
  年収をアップさせるもうひとつのポイントは『役職』です。病院やクリニックの事務職の中には、医事課のリーダーとなる医事課長や、事務職員のトップとなる事務長などの管理職ポストがあります。規模が大きな病院では、経営企画や人事課長、総務課長といったポジションが置かれていることもあります。管理職となるとぐんと年収もアップしますので、今の職場でスキルを磨いて昇進を目指す、あるいは医療事務のリーダー職や管理職募集の求人をチェックし、条件のよい医療機関に思い切って転職するのも手段のひとつです。
</div>
<h2 class="contentsDetail__block__title">
  医療事務で転職する際のおすすめポイント
</h2>
<div class="contentsDetail__text">
  医療事務は人気の職種ということもあり、大手転職サイトをはじめ多くの転職・求人サイトで見ることができますが、特におすすめなのは、医療事務など医療機関で働く事務職を専門に取り扱っている求人サイトです。『M.PLAT（エムプラット）求職支援』は、病院やクリニックの事務職に特化した転職支援サービスになります。医療事務をはじめ、事務長・人事総務課長・経営企画といった管理職クラスまで、多岐にわたる職種の取り扱いがあります。ほとんどが正社員の求人のため、年収も比較的好条件のものが多く掲載されています。サイトを運営する株式会社エムステージは17年以上にわたり医師の人材紹介を行っているため、医療機関との取引実績が豊富にあります。そのため、他社にはない非公開求人も含め、数多くの求人を取り扱っているのが最大の特徴です。また何より心強いのは、医療経営士の資格を保有しているアドバイザーが転職活動をサポートしてくれる点です。もっと待遇の良い職場に転職したい、年収をアップさせたい、キャリアアップがしたい、管理職にチャレンジしたいなど、医療業界の事情に詳しいアドバイザーに相談しながら転職活動を進めることができます。利用料は完全無料で会員登録も簡単ですので、まずはアドバイザーへ相談し、情報収集から始めてみるのはいかがでしょうか？
</div>

{% endblock %}
