{% extends '_modules/_base.njk' %}
{%- set fileName = 'contact' -%}
{%- set pageName = 'job_contact' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '求人問い合わせ' -%}
{%- set en_pageTitle = 'JOB CONTACT' -%}
{%- set pageDescription = '求人問い合わせディスクリプション' -%}
{%- set breadcrumbs = [{item: '求人一覧', href: 'job/'}, {item: '求人詳細', href: 'job/detail.html'}, {item: '求人問い合わせ'}]-%}

{% block content %}

<div class="container">

  <section class="jobContact">

    <div class="inputBlock">
      <h3 class="inputBlock__heading">お名前{{ macro.inputMust() }}</h3>
      <div class="inputBlockFlex">
        <div class="inputBlockFlex__item">
          <input type="text" name="jobContact_lastName" class="m-inputText" placeholder="性" value="">
          <p class="m-inputErrorText"></p>
        </div>
        <div class="inputBlockFlex__item">
          <input type="text" name="jobContact_firstName" class="m-inputText" placeholder="名" value="">
          <p class="m-inputErrorText"></p>
        </div>
      </div>
    </div>
    <div class="inputBlock">
      <h3 class="inputBlock__heading">連絡先電話番号{{ macro.inputMust() }}</h3>
      <input type="text" name="jobContact_tel" class="m-inputText inputBlock__inputHalf" placeholder="03-5437-2950" value="">
      <p class="m-inputErrorText"></p>
    </div>
    <div class="inputBlock">
      <h3 class="inputBlock__heading">メールアドレス{{ macro.inputMust() }}</h3>
      <input type="text" name="jobContact_mail" class="m-inputText" placeholder="example@example.co.jp" value="">
      <p class="m-inputErrorText"></p>
      <p class="inputBlock__note">※半角英数字</p>
      <p class="inputBlock__confirmText">確認のためもう一度メールアドレスを入力してください</p>
      <input type="text" name="jobContact_mail_confirm" class="m-inputText" placeholder="example@example.co.jp" value="">
      <p class="m-inputErrorText"></p>
      <p class="inputBlock__note">※半角英数字</p>
    </div>
    <div class="inputBlock">
      <h3 class="inputBlock__heading">お問い合わせ種別{{ macro.inputMust() }}</h3>
      <div class="inputBlockFlex">
        <div class="inputBlockFlex__item">
          <input type="radio" id="jobContact_type_job" name="jobContact_type" class="m-inputRadio" value="job">
          <label for="jobContact_type_job" class="m-inputRadioLabel">対象求人への問い合わせ</label>
        </div>
        <div class="inputBlockFlex__item">
          <input type="radio" id="jobContact_type_service" name="jobContact_type" class="m-inputRadio" value="service">
          <label for="jobContact_type_service" class="m-inputRadioLabel">サービスへの問い合わせ</label>
        </div>
      </div>
      <p class="m-inputErrorText"></p>
    </div>
    <div class="inputBlock">
      <h3 class="inputBlock__heading">お問い合わせ内容{{ macro.inputMust() }}</h3>
      <textarea name="jobContact_detail" class="m-inputTextArea" placeholder="お問い合わせ内容を記入してください" value=""></textarea>
      <p class="m-inputErrorText"></p>
    </div>

    <button type="submit" name="jobContact_submit" class="inputBlock__submit" disabled>確認画面へ</button>
  </section>
</div>

{% endblock %}
