{% extends '_modules/_base.njk' %}
{%- set fileName = 'detail' -%}
{%- set pageName = 'job_detail' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '求人詳細' -%}
{%- set en_pageTitle = 'JOB DETAIL' -%}
{%- set pageDescription = '求人詳細ディスクリプション' -%}
{%- set breadcrumbs = [{item: '求人一覧', href: 'job/'}, {item: ''}]-%}

{% block content %}

<div class="container js-success-target">
  <section class="jobDetailWrap">
    <div class="jobDetailBox">
      <div class="jobDetailHeader">
        <div class="jobDetailHeaderCategory">
          <span class="jobDetailHeaderCategory__icon">{{ macro.svg_code_hospital() }}</span>
          <p class="jobDetailHeaderCategory__name">ID：<span class="js-async-category-target"></span></p>
        </div>
        <div class="jobDetailHeaderStatus">
          <span class="jobDetailHeaderStatus__new m-fontFamilyMontserrat js-async-new-target">NEW</span>
          <p class="jobDetailHeaderStatus__date"><span class="js-async-date-target"></span> 更新</p>
        </div>
      </div>
      <div class="jobDetailContent">
        <h1 class="jobDetailContent__title js-async-title-target"></h1>
        <p class="jobDetailContent__buildingName">施設名：<span class="js-async-buildingName-target"></span></p>
        <div class="jobDetailContentPickup">
          <ul class="jobDetailContentPickup__list">
            <li class="jobDetailContentPickup__item">
              <div class="jobDetailContentPickup__itemLabel">
                <span class="jobDetailContentPickup__itemLabelIcon">{{ macro.svg_code_bag() }}</span>職　種
              </div>
              <p class="jobDetailContentPickup__itemContent js-async-occupation-target"></p>
            </li>
            <li class="jobDetailContentPickup__item">
              <div class="jobDetailContentPickup__itemLabel">
                <span class="jobDetailContentPickup__itemLabelIcon jobDetailContentPickup__itemLabelIcon--place">{{ macro.svg_code_place() }}</span>勤務地
              </div>
              <p class="jobDetailContentPickup__itemContent js-async-place-target"></p>
            </li>
            <li class="jobDetailContentPickup__item">
              <div class="jobDetailContentPickup__itemLabel">
                <span class="jobDetailContentPickup__itemLabelIcon">{{ macro.svg_code_money() }}</span>年　収
              </div>
              <p class="jobDetailContentPickup__itemContent jobDetailContentPickup__itemContent--salary"><span><span class="js-async-minSalary-target"></span>～<span class="js-async-maxSalary-target"></span></span>万円</p>
            </li>
          </ul>
        </div>

        <table class="flexTable jobDetailContentTable">
          <tbody>
            <tr>
              <th class="jobDetailContentTable__heading">業務内容</th>
              <td class="js-async-sumally-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">応募条件</th>
              <td class="js-async-conditions-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">雇用形態</th>
              <td class="js-async-position-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">勤務時間</th>
              <td class="js-async-workTime-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">休日・休暇</th>
              <td class="js-async-holiday-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">試用期間</th>
              <td class="js-async-trial-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">福利厚生</th>
              <td class="js-async-benefit-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">備考</th>
              <td class="js-async-other-target"></td>
            </tr>
          </tbody>
        </table>

        <div class="jobDetailContentButtonWrap is-hidden js-jobSubmitGroup-target">
          <a href="javascript:void(0)" class="m-button m-button--blue jobDetailContent__actionButton js-jobContact-trigger"><span>この求人に</span><br class="sp-view">問い合わせる</a>
          <a href="javascript:void(0)" class="m-button m-button--orange jobDetailContent__actionButton js-jobDialog-trigger"><span>この求人に</span><br class="sp-view">応募する</a>
        </div>
      </div>
    </div>
  </section>
  <div class="jobDetailBackLink">
    <a href="" class="jobDetailBackLink__item js-jobListBackLink-target">求人一覧に戻る</a>
  </div>
</div>

<div class="jobDetailError js-error-target">
  <p class="jobDetailError__text">この求人は現在公開されていません。</p>
</div>

<div class="jobDetailDialogWrap js-jobDialog-target">
  <div class="jobDetailDialog">
    <div class="jobDetailDialogInner">
      <div class="jobDetailDialog__close js-jobDialogClose-trigger"></div>
      <div class="jobDetailDialogContent">
        <p class="jobDetailDialog__text">この求人に応募します。よろしいですか？</p>
        <div class="jobDetailDialogConfirm">
          <button type="button" class="jobDetailDialog__button jobDetailDialog__button--cancel js-jobDialogClose-trigger">キャンセル</button>
          <button type="button" class="jobDetailDialog__button jobDetailDialog__button--submit js-jobApply-trigger">応募する</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jobDetailDialogWrap js-jobDialogComplete-target">
  <div class="jobDetailDialog jobDetailDialog--done">
    <div class="jobDetailDialogInner">
      <div class="jobDetailDialog__close js-jobDialogCompleteClose-trigger"></div>
      <p class="jobDetailDialogDone__text">応募が完了しました。</p>
    </div>
  </div>
</div>

<div class="jobDetailDialogWrap js-jobDialogNoResumeError-target">
  <div class="jobDetailDialog">
    <div class="jobDetailDialogInner">
      <div class="jobDetailDialog__close js-jobDialogNoResumeErrorClose-trigger"></div>
      <div class="jobDetailDialogContent">
        <p class="jobDetailDialog__text">レジュメが未登録です。<br class="sp-view">登録をお願いいたします。</p>
        <div class="jobDetailDialogConfirm jobDetailDialogConfirm--noResume">
          <button type="button" class="jobDetailDialog__button jobDetailDialog__button--submit js-resumeEdit-trigger">登録する</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jobDetailDialogWrap js-jobDialogAlreadyError-target">
  <div class="jobDetailDialog jobDetailDialog--done">
    <div class="jobDetailDialogInner">
      <div class="jobDetailDialog__close js-jobDialogAlreadyErrorClose-trigger"></div>
      <p class="jobDetailDialogDone__text">この求人は応募が完了しています。<br>
      3営業日以内に担当者から<br class="sp-view">ご連絡がない場合は、<br>
      お手数ですがお電話にて<br class="sp-view">直接ご連絡をお願い申し上げます。</p>
    </div>
  </div>
</div>

<div class="jobDetailDialogWrap js-jobDialogRejectError-target">
  <div class="jobDetailDialog jobDetailDialog--done">
    <div class="jobDetailDialogInner">
      <div class="jobDetailDialog__close js-jobDialogRejectErrorClose-trigger"></div>
      <p class="jobDetailDialogDone__text">この求人は現在公開されていません。</p>
    </div>
  </div>
</div>

{% include '_modules/_searchButtonBlock.njk' %}

{% endblock %}
