{% extends '_modules/_base.njk' %}
{%- set fileName = 'detail' -%}
{%- set pageName = 'job_detail' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '求人詳細' -%}
{%- set en_pageTitle = 'JOB DETAIL' -%}
{%- set pageDescription = '求人詳細ディスクリプション' -%}
{%- set breadcrumbs = [{item: '求人一覧', href: 'job/'}, {item: '【関東・関西・東海エリアに配属】支援先病院のマネージャー（事務長クラス）/完全週休2日制/事務長職として経営支援を行います'}]-%}

{% block content %}

<div class="container">
  <section class="jobDetailWrap">
    <div class="jobDetailBox">
      <div class="jobDetailHeader">
        <div class="jobDetailHeaderCategory">
          <span class="jobDetailHeaderCategory__icon">{{ macro.svg_code_hospital() }}</span>
          <p class="jobDetailHeaderCategory__name js-jobDetail-category-target"></p>
        </div>
        <div class="jobDetailHeaderStatus">
          <span class="jobDetailHeaderStatus__new m-fontFamilyMontserrat">NEW</span>
          <p class="jobDetailHeaderStatus__date"><span class="js-jobDetail-date-target"></span> 公開</p>
        </div>
      </div>
      <div class="jobDetailContent">
        <h1 class="jobDetailContent__title js-jobDetail-title-target"></h1>
        <p class="jobDetailContent__buildingName">施設名：<span class="js-jobDetail-buildingName-target"></span></p>
        <div class="jobDetailContentPickup">
          <ul class="jobDetailContentPickup__list">
            <li class="jobDetailContentPickup__item">
              <div class="jobDetailContentPickup__itemLabel">
                <span class="jobDetailContentPickup__itemLabelIcon">{{ macro.svg_code_bag() }}</span>職　種
              </div>
              <p class="jobDetailContentPickup__itemContent js-jobDetail-occupation-target"></p>
            </li>
            <li class="jobDetailContentPickup__item">
              <div class="jobDetailContentPickup__itemLabel">
                <span class="jobDetailContentPickup__itemLabelIcon jobDetailContentPickup__itemLabelIcon--place">{{ macro.svg_code_place() }}</span>勤務地
              </div>
              <p class="jobDetailContentPickup__itemContent js-jobDetail-place-target"></p>
            </li>
            <li class="jobDetailContentPickup__item">
              <div class="jobDetailContentPickup__itemLabel">
                <span class="jobDetailContentPickup__itemLabelIcon">{{ macro.svg_code_money() }}</span>年　収
              </div>
              <p class="jobDetailContentPickup__itemContent jobDetailContentPickup__itemContent--salary"><span><span class="js-jobDetail-minSalary-target"></span>～<span class="js-jobDetail-maxSalary-target"></span></span>万円</p>
            </li>
          </ul>
        </div>

        <table class="flexTable jobDetailContentTable">
          <tbody>
            <tr>
              <th class="jobDetailContentTable__heading">仕事内容</th>
              <td class="js-jobDetail-sumally-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">雇用形態</th>
              <td class="js-jobDetail-position-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">勤務時間</th>
              <td class="js-jobDetail-workTime-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">休日</th>
              <td class="js-jobDetail-holiday-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">休暇</th>
              <td class="js-jobDetail-dayOff-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">固定残業</th>
              <td class="js-jobDetail-overtime-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">試用期間</th>
              <td class="js-jobDetail-trial-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">福利厚生</th>
              <td class="js-jobDetail-benefit-target"></td>
            </tr>

            <tr>
              <th class="jobDetailContentTable__heading">その他備考</th>
              <td class="js-jobDetail-other-target"></td>
            </tr>
          </tbody>
        </table>

        <div class="jobDetailContentButtonWrap">
          <a href="#" class="m-button m-button--blue jobDetailContent__actionButton"><span>この求人に</span><br class="sp-view">問い合わせる</a>
          <a href="#" class="m-button m-button--orange jobDetailContent__actionButton"><span>この求人に</span><br class="sp-view">応募する</a>
        </div>
      </div>
    </div>
  </section>
  <div class="jobDetailBackLink">
    <a href="#" class="m-backLink m-button m-button--white jobDetailBackLink__item">求人一覧に戻る</a>
  </div>
</div>

{% include '_modules/_searchButtonBlock.njk' %}

{% endblock %}
