{% extends '_modules/_base.njk' %}
{%- set fileName = 'index' -%}
{%- set pageName = 'job_list' -%}
{%- set pageLevel = '2' -%}
{%- set pageTitle = '求人一覧' -%}
{%- set en_pageTitle = 'JOB LIST' -%}
{%- set pageDescription = '求人一覧ディスクリプション' -%}
{%- set breadcrumbs = [{item: '求人一覧'}]-%}

{% block content %}

<div class="container">
  <div class="container__hasSide">
    <main class="container__main">
      <section class="jobListWrap">
        <ul class="jobList">
          {% for i in [1,2,3,4] -%}
          <li class="jobListItem">
            <a href="{{ basePath }}job/detail.html" class="jobListItem__link">
              <div class="jobListItemHeader">
                <div class="jobListItemHeaderCategory">
                  <span class="jobListItemHeaderCategory__icon">{{ macro.svg_code_hospital() }}</span>
                  <p class="jobListItemHeaderCategory__name">一般</p>
                </div>
                <div class="jobListItemHeaderStatus">
                  <span class="jobListItemHeaderStatus__new m-fontFamilyMontserrat">NEW</span>
                  <p class="jobListItemHeaderStatus__date">2019.00.00 公開</p>
                </div>
              </div>
              <div class="jobListContent">
                <h2 class="jobListContent__title">【新宿区】病院事務長/高年収可能/病院経営に携われる</h2>
                <p class="jobListContent__buildingName">施設名：非公開</p>
                <div class="jobListContentPickup">
                  <ul class="jobListContentPickup__list">
                    <li class="jobListContentPickup__item">
                      <div class="jobListContentPickup__itemLabel">
                        <span class="jobListContentPickup__itemLabelIcon">{{ macro.svg_code_bag() }}</span>職　種
                      </div>
                      <p class="jobListContentPickup__itemContent">総務課管理職候補</p>
                    </li>
                    <li class="jobListContentPickup__item">
                      <div class="jobListContentPickup__itemLabel">
                        <span class="jobListContentPickup__itemLabelIcon jobListContentPickup__itemLabelIcon--place">{{ macro.svg_code_place() }}</span>勤務地
                      </div>
                      <p class="jobListContentPickup__itemContent">東京都千代田区</p>
                    </li>
                    <li class="jobListContentPickup__item">
                      <div class="jobListContentPickup__itemLabel">
                        <span class="jobListContentPickup__itemLabelIcon">{{ macro.svg_code_money() }}</span>年　収
                      </div>
                      <p class="jobListContentPickup__itemContent jobListContentPickup__itemContent--salary">1,000～2,000<span>万円</span></p>
                    </li>
                  </ul>
                </div>

                <table class="flexTable jobListContentTable">
                  <tbody>
                    <tr>
                      <th class="jobListContentTable__heading">仕事内容</th>
                      <td>人事・採用、労務などダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミダミーダミーダミーダミーダミー…</td>
                    </tr>
                  </tbody>
                </table>
                <p class="m-frontLink jobListContentLink">この求人の詳細を見る</p>
              </div>
            </a>
          </li>
          {%- endfor %}
          {% for i in [1,2,3,4,5,6] -%}
          <li class="jobListItem">
            <a href="{{ basePath }}job/detail.html" class="jobListItem__link">
              <div class="jobListItemHeader">
                <div class="jobListItemHeaderCategory">
                  <span class="jobListItemHeaderCategory__icon">{{ macro.svg_code_hospital() }}</span>
                  <p class="jobListItemHeaderCategory__name">ケアミックス</p>
                </div>
                <div class="jobListItemHeaderStatus">
                  <p class="jobListItemHeaderStatus__date">2019.00.00 公開</p>
                </div>
              </div>
              <div class="jobListContent">
                <h2 class="jobListContent__title">【新宿区】病院事務長/高年収可能/病院経営に携われる</h2>
                <p class="jobListContent__buildingName">施設名：非公開</p>
                <div class="jobListContentPickup">
                  <ul class="jobListContentPickup__list">
                    <li class="jobListContentPickup__item">
                      <div class="jobListContentPickup__itemLabel">
                        <span class="jobListContentPickup__itemLabelIcon">{{ macro.svg_code_bag() }}</span>職　種
                      </div>
                      <p class="jobListContentPickup__itemContent">総務課管理職候補</p>
                    </li>
                    <li class="jobListContentPickup__item">
                      <div class="jobListContentPickup__itemLabel">
                        <span class="jobListContentPickup__itemLabelIcon jobListContentPickup__itemLabelIcon--place">{{ macro.svg_code_place() }}</span>勤務地
                      </div>
                      <p class="jobListContentPickup__itemContent">東京都千代田区</p>
                    </li>
                    <li class="jobListContentPickup__item">
                      <div class="jobListContentPickup__itemLabel">
                        <span class="jobListContentPickup__itemLabelIcon">{{ macro.svg_code_money() }}</span>年　収
                      </div>
                      <p class="jobListContentPickup__itemContent jobListContentPickup__itemContent--salary">1,000～2,000<span>万円</span></p>
                    </li>
                  </ul>
                </div>

                <table class="flexTable jobListContentTable">
                  <tbody>
                    <tr>
                      <th class="jobListContentTable__heading">仕事内容</th>
                      <td>人事・採用、労務などダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミダミーダミーダミーダミーダミー…</td>
                    </tr>
                  </tbody>
                </table>
                <p class="m-frontLink jobListContentLink">この求人の詳細を見る</p>
              </div>
            </a>
          </li>
          {%- endfor %}
        </ul>
      </section>
    </main>
    <aside class="container__side">
      <div class="searchSideBox">
        <p class="searchResultText">絞り込みの結果：<span>99,999</span>件</p>
        <div class="searchInputArea">
          <ul class="searchInputList">
            <li class="searchInputList__item searchInputList__item--job">
              <select name="jobList_selectJob" class="m-inputSelect searchInputList__input">
                <option value="">職種から探す</option>
                {%- set selectJob = [
                  {job: '事務長（候補含む）'},
                  {job: '経営企画室'},
                  {job: '医事課長（候補含む）'},
                  {job: '総務'},
                  {job: '財務・経理'},
                  {job: '人事・労務'},
                  {job: '情報管理'},
                  {job: '広報'},
                  {job: '地域連携室'},
                  {job: 'その他'}
                ] -%}
                {%- for item in selectJob %}
                <option value="{{ loop.index }}">{{ item.job }}</option>
                {%- endfor %}
              </select>
            </li>
            <li class="searchInputList__item searchInputList__item--place">
              <select name="jobList_selectPlace" class="m-inputSelect searchInputList__input">
                <option value="">勤務地から探す</option>
                {%- set selectPlace = [
                  {place: '茨城'},
                  {place: '栃木'},
                  {place: '群馬'},
                  {place: '埼玉'},
                  {place: '千葉'},
                  {place: '東京'},
                  {place: '神奈川'},
                  {place: '三重'},
                  {place: '滋賀'},
                  {place: '京都'},
                  {place: '大阪'},
                  {place: '兵庫'},
                  {place: '奈良'},
                  {place: '和歌山'}
                ] -%}
                {%- for item in selectPlace %}
                <option value="{{ loop.index }}">{{ item.place }}</option>
                {%- endfor %}
              </select>
            </li>
            <li class="searchInputList__item searchInputList__item--salary">
              <select name="jobList_selectSalary" class="m-inputSelect searchInputList__input">
                <option value="">年収から探す</option>
                {%- set selectSalary = [
                  {salary: '300万〜'},
                  {salary: '400万〜'},
                  {salary: '500万〜'},
                  {salary: '600万〜'},
                  {salary: '700万〜'},
                  {salary: '800万〜'}
                ] -%}
                {%- for item in selectSalary %}
                <option value="{{ loop.index }}">{{ item.salary }}</option>
                {%- endfor %}
              </select>
            </li>
            <li class="searchInputList__item searchInputList__item--freeWord">
              <input name="jobList_freeWord" type="text" class="m-inputText searchInputList__input searchInputList__input--freeWord" placeholder="キーワードで探す">
            </li>
          </ul>
        </div>
        <a href="#" class="m-button m-button--blue search__submit">この条件で再検索</a>
      </div>
    </aside>
  </div>
  <div class="jobListPagenationWrap">
    <ul class="jobListPagenation">
      <li class="jobListPagenation__item"><a href="#" class="jobListPagenation__link jobListPagenation__link--active">1</a></li>
      <li class="jobListPagenation__item"><a href="#" class="jobListPagenation__link">2</a></li>
      <li class="jobListPagenation__item"><a href="#" class="jobListPagenation__link">3</a></li>
      <li class="jobListPagenation__item pc-view"><a href="#" class="jobListPagenation__link">4</a></li>
      <li class="jobListPagenation__item pc-view"><a href="#" class="jobListPagenation__link">5</a></li>
      <li class="jobListPagenation__item jobListPagenation__item--dot">…</li>
      <li class="jobListPagenation__item"><a href="#" class="jobListPagenation__link">20</a></li>
    </ul>
  </div>
</div>
<div class="mobileSearchWrap sp-view">
  <div class="mobileSearchInner">
    <p class="mobileSearch__resultText">絞り込みの結果<br><span>99,999</span>件</p>
    <input type="checkbox" id="jobList_search" class="mobileSearch__toggleTrigger">
    <label for="jobList_search" class="mobileSearch__openLabel">検索条件を確認・再検索</label>
    <label for="jobList_search" class="mobileSearch__closeLabel">検索を閉じる</label>
    <div class="mobileSearchBoxWrap">
      <label for="jobList_search" class="mobileSearch__closeBackground"></label>
      <div class="mobileSearchBox">
        <div class="mobileSearchBoxInner">
          <ul class="mobileSearchList">
            <li class="mobileSearchList__item mobileSearchList__item--job">
              <select name="jobList_selectJob" class="m-inputSelect mobileSearchList__input">
                <option value="">職種から探す</option>
                {%- set selectJob = [
                  {job: '事務長（候補含む）'},
                  {job: '経営企画室'},
                  {job: '医事課長（候補含む）'},
                  {job: '総務'},
                  {job: '財務・経理'},
                  {job: '人事・労務'},
                  {job: '情報管理'},
                  {job: '広報'},
                  {job: '地域連携室'},
                  {job: 'その他'}
                ] -%}
                {%- for item in selectJob %}
                <option value="{{ loop.index }}">{{ item.job }}</option>
                {%- endfor %}
              </select>
            </li>
            <li class="mobileSearchList__item mobileSearchList__item--place">
              <select name="jobList_selectPlace" class="m-inputSelect mobileSearchList__input">
                <option value="">勤務地から探す</option>
                {%- set selectPlace = [
                  {place: '茨城'},
                  {place: '栃木'},
                  {place: '群馬'},
                  {place: '埼玉'},
                  {place: '千葉'},
                  {place: '東京'},
                  {place: '神奈川'},
                  {place: '三重'},
                  {place: '滋賀'},
                  {place: '京都'},
                  {place: '大阪'},
                  {place: '兵庫'},
                  {place: '奈良'},
                  {place: '和歌山'}
                ] -%}
                {%- for item in selectPlace %}
                <option value="{{ loop.index }}">{{ item.place }}</option>
                {%- endfor %}
              </select>
            </li>
            <li class="mobileSearchList__item mobileSearchList__item--salary">
              <select name="jobList_selectSalary" class="m-inputSelect mobileSearchList__input">
                <option value="">年収から探す</option>
                {%- set selectSalary = [
                  {salary: '300万〜'},
                  {salary: '400万〜'},
                  {salary: '500万〜'},
                  {salary: '600万〜'},
                  {salary: '700万〜'},
                  {salary: '800万〜'}
                ] -%}
                {%- for item in selectSalary %}
                <option value="{{ loop.index }}">{{ item.salary }}</option>
                {%- endfor %}
              </select>
            </li>
            <li class="mobileSearchList__item mobileSearchList__item--freeWord">
              <input name="jobList_freeWord" type="text" class="m-inputText mobileSearchList__input mobileSearchList__input--freeWord" placeholder="キーワードで探す">
            </li>
          </ul>
          <a href="#" class="m-button m-button--blue mobileSearch__submit">この条件で再検索</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include '_modules/_searchButtonBlock.njk' %}

{% endblock %}
